In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
df_archive = pd.read_csv('twitter-archive-enhanced.csv')
df_archive.head(3)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None

In [3]:
df_class = pd.read_csv('twitter_image_class.csv')
df_class.head(3)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True

In [4]:
df_status = pd.read_csv('twitter_status_dogs.csv')
df_status.head(3)

,tweet_id,text_check,dog_picture_url,tweet_web_url,favourite_count,retweet_count,retweet_status_id_api
0,892420643555336193,This is Phineas. He's a mystical boy. Only eve...,http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,https://twitter.com/dog_rates/status/892420643...,37434,8138,None
1,892177421306343426,This is Tilly. She's just checking pup on you....,http://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,https://twitter.com/dog_rates/status/892177421...,32164,6029,None
2,891815181378084864,This is Archie. He is a rare Norwegian Pouncin...,http://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,https://twitter.com/dog_rates/status/891815181...,24251,3991,None

In [5]:
df_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [6]:
df_class.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [7]:
df_status.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2335 entries, 0 to 2334
Data columns (total 7 columns):
tweet_id                 2335 non-null int64
text_check               2335 non-null object
dog_picture_url          2335 non-null object
tweet_web_url            2335 non-null object
favourite_count          2335 non-null int64
retweet_count            2335 non-null int64
retweet_status_id_api    2335 non-null object
dtypes: int64(3), object(4)
memory usage: 127.8+ KB

In [8]:
all_columns = pd.Series(list(df_archive) + list(df_class) + list(df_status))
all_columns[all_columns.duplicated()]

17    tweet_id
29    tweet_id
dtype: object

#### Good that names of columns are not duplicated apart from tweet_id on which the tables can be joined;  but there are actually duplicating contents in several columns (eg text in `df_archive` and text_check in `df_status` )

### Tidying/Cleaning

  - joining `df_archive` and `df_status`, which can sit in one table (following cleaning), complying with tidyness protocol; also once they do, it will be easier to examine the following
  - creating `class_df` from `df_class`
  - dropping rows that have no *favourite_rating* and *retween_count* (this is because those tweets were deleted, and where  subsequntly not received from Twitter API
  - checking tweet text is correct for each tweet (comparing two columns that store tweet text, deciding which to keep),
  - similarly checking other potentially duplicated columns, including tweet_url (columns `expanded_urls` and `tweet_web_url`) and retweet_id (columns `retweeted_status_id` and `retween_status_id_api`)
  - converting the `retweeted_status_id` column to integer (np.int64), in line with tweet_id
  - checking ratings (`rating_numerator` and `rating_denominator`) are correctly imported to ratings columns (from tweet text)
  - creating one column for 'dog_stages' (from the four "dummy" columns of `doggo`, `floofer`, `pupper`, `puppo`)
  - checking 'dog stages' are all correctly extracted
  - convert timestamp from string to datetime
  - identifying and dropping rows that are retweets (explicitly not required to be included in the project)
  - checking other cleanliness issues (e.g. ` dog_picture_url` in df_tweet should be the same as `jpg_url` in df_class; check and drop one)
  - renaming columns in `class_clean`
  
It seems that the image classification table `class_clean` (previously `df_class`) could also be joined without causing tidyness issues, that said, since it is such a different "unit" of information, with its own independent source (ie classification model output), will keep it separate for now.

In [9]:
# create TWEET_CLEAN from df_archive and df_status
tweet_clean = pd.merge(df_archive, df_status,
                            on=['tweet_id'], how='left')

#create CLASS_CLEAN from df_class
class_clean = df_class

In [10]:
tweet_clean

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,doggo,floofer,pupper,puppo,text_check,dog_picture_url,tweet_web_url,favourite_count,retweet_count,retweet_status_id_api
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,...,None,None,None,None,This is Phineas. He's a mystical boy. Only eve...,http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,https://twitter.com/dog_rates/status/892420643...,37434.0,8138.0,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,...,None,None,None,None,This is Tilly. She's just checking pup on you....,http://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,https://twitter.com/dog_rates/status/892177421...,32164.0,6029.0,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,...,None,None,None,None,This is Archie. He is a rare Norwegian Pouncin...,http://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,https://twitter.com/dog_rates/status/891815181...,24251.0,3991.0,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,...,None,None,None,None,This is Darla. She commenced a snooze mid meal...,http://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,https://twitter.com/dog_rates/status/891689557...,40731.0,8304.0,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,...,None,None,None,None,This is Franklin. He would like you to stop ca...,http://pbs.twimg.com/media/DF6hr6AVYAAZ8G8.jpg,https://twitter.com/dog_rates/status/891327558...,38968.0,8992.0,None
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950...,...,None,None,None,None,Here we have a majestic great white breaching ...,http://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg,https://twitter.com/dog_rates/status/891087950...,19575.0,2985.0,None
6,890971913173991426,NaN,NaN,2017-07-28 16:27:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",...,None,None,None,None,Meet Jax. He enjoys ice cream so much he gets ...,http://pbs.twimg.com/media/DF1eOmZXUAALUcq.jpg,https://twitter.com/dog_rates/status/890971913...,11437.0,1979.0,None
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890729181...,...,None,None,None,None,When you watch your owner call another dog a g...,http://pbs.twimg.com/media/DFyBag_UQAAhhBC.jpg,https://twitter.com/dog_rates/status/890729181...,63112.0,18106.0,None
8,890609185150312448,NaN,NaN,2017-07-27 16:25:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185...,...,None,None,None,None,This is Zoey. She doesn't want to be one of th...,http://pbs.twimg.com/media/DFwUU__XcAEpyXI.jpg,https://twitter.com/dog_rates/status/890609185...,26940.0,4098.0,None
9,890240255349198849,NaN,NaN,2017-07-26 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cassie. She is a college pup. Studying...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255...,...,doggo,None,None,None,This is Cassie. She is a college pup. Studying...,http://pbs.twimg.com/media/DFrEyVuW0AAO3t9.jpg,https://twitter.com/dog_rates/status/890240255...,30873.0,7078.0,None
10,890006608113172480,NaN,NaN,2017-07-26 00:31:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Koda. He is a South Australian decksha...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890006608...,...,None,None,None,None,This is Koda. He is a South Australian decksha...,http://pbs.twimg.com/media/DFnwSY4WAAAMliS.jpg,https://twitter.com/dog_rates/status/890006608...,29685.0,7033.0,None
11,889880896479866881,NaN,NaN,2017-07-25 16:11:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bruno. He is a service shark. Only get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889880896...,...,None,None,None,None,This is Bruno. He is a service shark. Only get...,http://pbs.twimg.com/media/DFl99B1WsAITKsg.jpg,https://twitter.com/dog_rates/status/889880896...,26938.0,4783.0,None
12,889665388333682689,NaN,NaN,2017-07-25 01:55:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo that seems to be on the fence a...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889665388...,...,None,None,None,puppo,Here's a puppo that seems to be on the fence a...,http://pbs.twimg.com/media/DFi579UWsAAatzw.jpg,https://twitter.com/dog_rates/status/889665388...,46509.0,9627.0,None
13,889638837579907072,NaN,NaN,2017-07-25 00:10:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ted. He does his best. Sometimes that'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889638837...,...,None,None,None,None,This is Ted. He does his best. Sometimes that'...,http://pbs.twimg.com/media/DFihzFfXsAYGDPR.jpg,https://twitter.com/dog_rates/status/889638837...,26212.0,4350.0,None
14,889531135344209921,NaN,NaN,2017-07-24 17:02:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Stuart. He's sporting his favorite fan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889531135...,...,None,None,None,puppo,This is Stuart. He's sporting his favorite fan...,http://pbs.twimg.com/media/DFg_2PVW0AEHN3p.jpg,https://twitter.com/dog_rates/status/889531135...,14628.0,2163.0,None
15,889278841981685760,NaN,NaN,2017-07-24 00:19:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Oliver. You're witnessing one of his m...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889278841...,...,None,None,None,None,This is Oliver. You're witnessing one of his m...,http://pbs.twimg.com/ext_tw_video_thumb/889278...,https://twitter.com/dog_rates/status/889278841...,24423.0,5162.0,None
16,888917238123831296,NaN,NaN,2017-07-23 00:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jim. He found a fren. Taught him how t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888917238...,...,None,None,None,None,This is Jim. He found a fren. Taught him how t...,http://pbs.twimg.com/media/DFYRgsOUQAARGhO.jpg,https://twitter.com/dog_rates/status/888917238...,28166.0,4330.0,None
17,888804989199671297,NaN,NaN,2017-07-22 16:56:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zeke. He has a new stick. Very proud o...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888804989...,...,None,None,None,None,This is Zeke. He has a new stick. Very proud o...,http://pbs.twimg.com/media/DFWra-3VYAA2piG.jpg,https://twitter.com/dog_rates/status/888804989...,24745.0,4107.0,None
18,888554962724278272,NaN,NaN,2017-07-22 00:23:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ralphus. He's powering up. Attempting ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888554962...,...,None,None,None,None,This is Ralphus. He's powering up. Attempting ...,http://pbs.twimg.com/media/DFTH_OiUMAE-k4M.jpg,https://twitter.com/dog_rates/status/888554962...,19173.0,3388.0,None
19,888202515573088257,NaN,NaN,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Canela. She attempted s...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/887473957...,...,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN
20,888078434458587136,NaN,NaN,2017-07-20 16:49:33 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Gerald. He was just told he didn't get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888078434...,...,None,None,None,None,This is Gerald. He was just told he didn't get...,http://pbs.twimg.com/media/DFMWn56WsAAkA7B.jpg,https://twitter.com/dog_rates/status/888078434...,21056.0,3342.0,None
21,887705289381826560,NaN,NaN,2017-07-19 16:06:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jeffrey. He has a monopoly on the pool...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887705289...,...,None,None,None,None,This is Jeffrey. He has a monopoly on the pool...,http://pbs.twimg.com/media/DFHDQBbXgAEqY7t.jpg,https://twitter.com/dog_rates/status/887705289...,29200.0,5165.0,None
22,887517139158093824,NaN,NaN,2017-07-19 03:39:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've yet to rate a Venezuelan Hover Wiener. Th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887517139...,...,None,None,None,None,I've yet to rate a Venezuelan Hover Wiener. Th...,http://pbs.twimg.com/ext_tw_video_thumb/887517...,https://twitter.com/dog_rates/status/887517139...,44809.0,11232.0,None
23,887473957103951883,NaN,NaN,2017-07-19 00:47:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Canela. She attempted some fancy porch...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887473957...,...,None,None,None,None,This is Canela. She attempted some fancy porch...,http://pbs.twimg.com/media/DFDw2tsUAAEw7XW.jpg,https://twitter.com/dog_rates/status/887473957...,66651.0,17422.0,None
24,887343217045368832,NaN,NaN,2017-07-18 16:08:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",You may not have known you needed to see this ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887343217...,...,None,None,None,None,You may not have known you needed to see this ...,http://pbs.twimg.com/ext_tw_video_thumb/887343...,https://twitter.com/dog_rates/status/887343217...,32572.0,10014.0,None
25,887101392804085760,NaN,NaN,2017-07-18 00:07:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This... is a Jubilant Antarctic House Bear. We...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887101392...,...,None,None,None,None,This... is a Jubilant Antarctic House Bear. We...,http://pbs.twimg.com/media/DE-eAq6UwAA-jaE.jpg,https://twitter.com/dog_rates/status/887101392...,29581.0,5723.0,None
26,886983233522544640,NaN,NaN,2017-07-17 16:17:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Maya. She's very shy. Rarely leaves he...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886983233...,...,None,None,None,None,This is Maya. She's very shy. Rarely leaves he...,http://pbs.twimg.com/media/DE8yicKXoAAnSF8.jpg,https://twitter.com/dog_rates/status/886983233...,33959.0,7433.0,None
27,886736880519319552,NaN,NaN,2017-07-16 23:58:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Mingus. He's a wonderful father to his...,NaN,NaN,NaN,"https://www.gofundme.com/mingusneedsus,https:/...",...,None,None,None,None,This is Mingus. He's a wonderful father to his...,http://pbs.twimg.com/media/DE5Se8FXcAAJFx4.jpg,https://twitter.com/dog_rates/status/886736880...,11636.0,3130.0,None
28,886680336477933568,NaN,NaN,2017-07-16 20:14:00 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Derek. He's late for a dog meeting. 13...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886680336...,...,None,None,None,None,This is Derek. He's late for a dog meeting. 13...,http://pbs.twimg.com/media/DE4fEDzWAAAyHMM.jpg,https://twitter.com/dog_rates/status/886680336...,21699.0,4282.0,None
29,886366144734445568,NaN,NaN,2017-07-15 23:25:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Roscoe. Another pupper fallen victim t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886366144...,...,None,None,pupper,None,This is Roscoe. Another pupper fallen victim t...,http://pbs.twimg.com/media/DE0BTnQUwAApKEH.jpg,https://twitter.com/dog_rates/status/886366144...,20483.0,3071.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2326,666411507551481857,NaN,NaN,2015-11-17 00:24:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is quite the dog. Gets really excited whe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666411507...,...,None,None,None,None,This is quite the dog. Gets really excited whe...,http://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg,https://twitter.com/dog_rates/status/666411507...,427.0,319.0,None
2327,666407126856765440,NaN,NaN,2015-11-17 00:06:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a southern Vesuvius bumblegruff. Can d...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666407126...,...,None,None,None,None,This is a southern Vesuvius bumblegruff. Can d...,http://pbs.twimg.com/media/CT-NvwmW4AAugGZ.jpg,https://twitter.com/dog_rates/status/666407126...,103.0,37.0,None
2328,666396247373291520,NaN,NaN,2015-11-16 23:23:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh goodness. A super rare northeast Qdoba kang...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666396247...,...,None,None,None,None,Oh goodness. A super rare northeast Qdoba kang...,http://pbs.twimg.com/media/CT-D2ZHWIAA3gK1.jpg,https://twitter.com/dog_rates/status/666396247...,161.0,81.0,None
2329,666373753744588802,NaN,NaN,2015-11-16 21:54:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Those are sunglasses and a jean jacket. 11/10 ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666373753...,...,None,None,None,None,Those are sunglasses and a jean jacket. 11/10 ...,http://pbs.twimg.com/media/CT9vZEYWUAAlZ05.jpg,https://twitter.com/dog_rates/status/666373753...,179.0,87.0,None
2330,666362758909284353,NaN,NaN,2015-11-16 21:10:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Unique dog here. Very small. Lives in containe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666362758...,...,None,None,None,None,Unique dog here. Very small. Lives in containe...,http://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg,https://twitter.com/dog_rates/status/666362758...,753.0,553.0,None
2331,666353288456101888,NaN,NaN,2015-11-16 20:32:58 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a mixed Asiago from the Galápagos...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666353288...,...,None,None,None,None,Here we have a mixed Asiago from the Galápagos...,http://pbs.twimg.com/media/CT9cx0tUEAAhNN_.jpg,https://twitter.com/dog_rates/status/666353288...,211.0,71.0,None
2332,666345417576210432,NaN,NaN,2015-11-16 20:01:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Look at this jokester thinking seat belt laws ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666345417...,...,None,None,None,None,Look at this jokester thinking seat belt laws ...,http://pbs.twimg.com/media/CT9Vn7PWoAA_ZCM.jpg,https://twitter.com/dog_rates/status/666345417...,282.0,131.0,None
2333,666337882303524864,NaN,NaN,2015-11-16 19:31:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an extremely rare horned Parthenon. No...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666337882...,...,None,None,None,None,This is an extremely rare horned Parthenon. No...,http://pbs.twimg.com/media/CT9OwFIWEAMuRje.jpg,https://twitter.com/dog_rates/status/666337882...,190.0,88.0,None
2334,666293911632134144,NaN,NaN,2015-11-16 16:37:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a funny dog. Weird toes. Won't come do...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666293911...,...,None,None,None,None,This is a funny dog. Weird toes. Won't come do...,http://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg,https://twitter.com/dog_rates/status/666293911...,484.0,341.0,None
2335,666287406224695296,NaN,NaN,2015-11-16 16:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an Albanian 3 1/2 legged Episcopalian...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666287406...,...,None,None,None,None,This is an Albanian 3 1/2 legged Episcopalian...,http://pbs.twimg.com/media/CT8g3BpUEAAuFjg.jpg,https://twitter.com/dog_rates/status/666287406...,141.0,63.0,None
2336,666273097616637952,NaN,NaN,2015-11-16 15:14:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can take selfies 11/10 https://t.co/ws2AMaNwPW,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666273097...,...,None,None,None,None,Can take selfies 11/10 https://t.co/ws2AMaNwPW,http://pbs.twimg.com/media/CT8T1mtUwAA3aqm.jpg,https://twitter.com/dog_rates/status/666273097...,167.0,75.0,None
2337,666268910803644416,NaN,NaN,2015-11-16 14:57:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Very concerned about fellow dog trapped in com...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666268910...,...,None,None,None,None,Very concerned about fellow dog trapped in com...,http://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg,https://twitter.com/dog_rates/status/666268910...,99.0,34.0,None
2338,666104133288665088,NaN,NaN,2015-11-16 04:02:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Not familiar with this breed. No tail (weird)....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666104133...,...,None,None,None,None,Not familiar with this breed. No tail (weird)....,http://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg,https://twitter.com/dog_rates/status/666104133...,13879.0,6289.0,None
2339,666102155909144576,NaN,NaN,2015-11-16 03:55:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh my. Here you are seeing an Adobe Setter giv...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666102155...,...,None,None,None,None,Oh my. Here you are seeing an Adobe Setter giv...,http://pbs.twimg.com/media/CT54YGiWUAEZnoK.jpg,https://twitter.com/dog_rates/status/666102155...,75.0,11.0,None
2340,666099513787052032,NaN,NaN,2015-11-16 03:44:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can stand on stump for what seems like a while...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666099513...,...,None,None,None,None,Can stand on stump for what seems like a while...,http://pbs.twimg.com/media/CT51-JJUEAA6hV8.jpg,https://twitter.com/dog_rates/status/666099513...,148.0,64.0,None
2341,666094000022159362,NaN,NaN,2015-11-16 03:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This appears to be a Mongolian Presbyterian mi...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666094000...,...,None,None,None,None,This appears to be a Mongolian Presbyterian mi...,http://pbs.twimg.com/media/CT5w9gUW4AAsBNN.jpg,https://twitter.com/dog_rates/status/666094000...,158.0,70.0,None
2342,666082916733198337,NaN,NaN,2015-11-16 02:38:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a well-established sunblockerspan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666082916...,...,None,None,None,None,Here we have a well-established sunblockerspan...,http://pbs.twimg.com/media/CT5m4VGWEAAtKc8.jpg,https://twitter.com/dog_rates/status/666082916...,110.0,43.0,None

In [11]:
tweet_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2356 entries, 0 to 2355
Data columns (total 23 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
text_check                    2335 non-null object
dog_picture_url               2335 non-null object
tweet_web_url                 2335 non-null object
favourite_count               2335 non-null float64
retweet_count                 2335 non-null float64
retweet_status_id_api         2335 non-null object
dtypes: float64(6), int64(3), object(14)
memory usage: 441.8+ KB

#### Dropping rows that have no favourite_rating and retween_count (this is because those tweets were deleted, and where subsequntly not received from Twitter API

In [12]:
tweet_clean = tweet_clean[tweet_clean.favourite_count.notnull()]

In [13]:
tweet_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2335 entries, 0 to 2355
Data columns (total 23 columns):
tweet_id                      2335 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2335 non-null object
source                        2335 non-null object
text                          2335 non-null object
retweeted_status_id           165 non-null float64
retweeted_status_user_id      165 non-null float64
retweeted_status_timestamp    165 non-null object
expanded_urls                 2276 non-null object
rating_numerator              2335 non-null int64
rating_denominator            2335 non-null int64
name                          2335 non-null object
doggo                         2335 non-null object
floofer                       2335 non-null object
pupper                        2335 non-null object
puppo                         2335 non-null object
text_check                    2335 non-null object
dog_picture_url               2335 non-null object
tweet_web_url                 2335 non-null object
favourite_count               2335 non-null float64
retweet_count                 2335 non-null float64
retweet_status_id_api         2335 non-null object
dtypes: float64(6), int64(3), object(14)
memory usage: 437.8+ KB

In [14]:
tweet_clean.sample(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,doggo,floofer,pupper,puppo,text_check,dog_picture_url,tweet_web_url,favourite_count,retweet_count,retweet_status_id_api
667,790337589677002753,NaN,NaN,2016-10-23 23:42:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Maggie. She can hear your cells divide. 1...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/790337589...,...,None,None,None,None,Meet Maggie. She can hear your cells divide. 1...,http://pbs.twimg.com/media/CvfX2AnWYAAQTay.jpg,https://twitter.com/dog_rates/status/790337589...,8241.0,2005.0,None
739,780601303617732608,NaN,NaN,2016-09-27 02:53:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Hercules. He can have whatever he wants f...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/780601303...,...,None,None,None,None,Meet Hercules. He can have whatever he wants f...,http://pbs.twimg.com/media/CtVAvX-WIAAcGTf.jpg,https://twitter.com/dog_rates/status/780601303...,12700.0,3568.0,None
1371,702276748847800320,NaN,NaN,2016-02-23 23:39:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...","""AND IIIIIIIIIIIEIIIIIIIIIIIII WILL ALWAYS LOV...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/702276748...,...,None,None,None,None,"""AND IIIIIIIIIIIEIIIIIIIIIIIII WILL ALWAYS LOV...",http://pbs.twimg.com/media/Cb78-nOWIAENNRc.jpg,https://twitter.com/dog_rates/status/702276748...,2551.0,797.0,None
2190,668960084974809088,NaN,NaN,2015-11-24 01:11:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jaycob. He got scared of the vacuum. Hide...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668960084...,...,None,None,None,None,Meet Jaycob. He got scared of the vacuum. Hide...,http://pbs.twimg.com/media/CUifpn4WUAAS5X3.jpg,https://twitter.com/dog_rates/status/668960084...,702.0,240.0,None
592,798933969379225600,NaN,NaN,2016-11-16 17:01:16 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Iroh. He's in a predicament. 12/10 som...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/798933969...,...,None,None,None,None,This is Iroh. He's in a predicament. 12/10 som...,http://pbs.twimg.com/media/CxZiLcLXUAApMVy.jpg,https://twitter.com/dog_rates/status/798933969...,13843.0,4817.0,None

In [15]:
#few checks to see values are sensible
tweet_clean.favourite_count.sort_values().head(5)

1295    51.0
342     68.0
2339    75.0
2298    82.0
2319    99.0
Name: favourite_count, dtype: float64

In [16]:
tweet_clean.favourite_count.sort_values().tail(5)

1079    119452.0
135     120097.0
534     124911.0
413     137875.0
1039    161664.0
Name: favourite_count, dtype: float64

In [17]:
tweet_clean.retweet_count.sort_values().head(5)

291     1.0
342     2.0
1295    2.0
274     2.0
113     3.0
Name: retweet_count, dtype: float64

In [18]:
tweet_clean.retweet_count.sort_values().tail(5)

66      42651.0
413     46757.0
534     59854.0
1079    60745.0
1039    82098.0
Name: retweet_count, dtype: float64

#### Checking tweet text is correct for each tweet (comparing two columns that store tweet text, deciding which to keep)

In [19]:
sum(tweet_clean.text != tweet_clean.text_check)

0

Ok, marvelous, all text from tweets was downloaded correctly;
therefore can just drop one of the text columns, will drop `text_check`

In [20]:
tweet_clean.drop(columns=['text_check'], axis=1, inplace=True)

C:\Users\vilij\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [21]:
tweet_clean.head(2)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,name,doggo,floofer,pupper,puppo,dog_picture_url,tweet_web_url,favourite_count,retweet_count,retweet_status_id_api
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,...,Phineas,None,None,None,None,http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,https://twitter.com/dog_rates/status/892420643...,37434.0,8138.0,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,...,Tilly,None,None,None,None,http://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,https://twitter.com/dog_rates/status/892177421...,32164.0,6029.0,None

#### Similarly checking other potentially duplicated columns, including tweet_url (columns `expanded_urls` and `tweet_web_url`) and retweet_id (columns `retweeted_status_id` and  `retween_status_id_api`)

In [22]:
sum(tweet_clean.expanded_urls != tweet_clean.tweet_web_url)

852

Hm, not such a great match..

In [23]:
tweet_clean[tweet_clean.expanded_urls != tweet_clean.tweet_web_url][['expanded_urls','tweet_web_url']]

,expanded_urls,tweet_web_url
4,https://twitter.com/dog_rates/status/891327558...,https://twitter.com/dog_rates/status/891327558...
6,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",https://twitter.com/dog_rates/status/890971913...
7,https://twitter.com/dog_rates/status/890729181...,https://twitter.com/dog_rates/status/890729181...
10,https://twitter.com/dog_rates/status/890006608...,https://twitter.com/dog_rates/status/890006608...
13,https://twitter.com/dog_rates/status/889638837...,https://twitter.com/dog_rates/status/889638837...
17,https://twitter.com/dog_rates/status/888804989...,https://twitter.com/dog_rates/status/888804989...
18,https://twitter.com/dog_rates/status/888554962...,https://twitter.com/dog_rates/status/888554962...
20,https://twitter.com/dog_rates/status/888078434...,https://twitter.com/dog_rates/status/888078434...
23,https://twitter.com/dog_rates/status/887473957...,https://twitter.com/dog_rates/status/887473957...
26,https://twitter.com/dog_rates/status/886983233...,https://twitter.com/dog_rates/status/886983233...
27,"https://www.gofundme.com/mingusneedsus,https:/...",https://twitter.com/dog_rates/status/886736880...
29,https://twitter.com/dog_rates/status/886366144...,https://twitter.com/dog_rates/status/886366144...
30,NaN,https://twitter.com/dog_rates/status/830583320...
32,https://twitter.com/dog_rates/status/886053434...,https://twitter.com/dog_rates/status/830583320...
35,https://twitter.com/4bonds2carbon/status/88551...,https://twitter.com/dog_rates/status/830583320...
36,https://twitter.com/dog_rates/status/830583320...,https://twitter.com/dog_rates/status/830583320...
37,https://twitter.com/dog_rates/status/885167619...,https://twitter.com/dog_rates/status/885167619...
39,https://twitter.com/dog_rates/status/884876753...,https://twitter.com/dog_rates/status/884876753...
42,https://twitter.com/kaijohnson_19/status/88396...,https://twitter.com/dog_rates/status/830583320...
45,https://twitter.com/dog_rates/status/883482846...,https://twitter.com/dog_rates/status/883482846...
47,https://twitter.com/dog_rates/status/883117836...,https://twitter.com/dog_rates/status/883117836...
48,https://twitter.com/dog_rates/status/882992080...,https://twitter.com/dog_rates/status/882992080...
51,https://twitter.com/dog_rates/status/882268110...,https://twitter.com/dog_rates/status/882268110...
52,https://twitter.com/dog_rates/status/882045870...,https://twitter.com/dog_rates/status/882045870...
55,NaN,https://twitter.com/dog_rates/status/830583320...
60,https://twitter.com/dog_rates/status/880465832...,https://twitter.com/dog_rates/status/880465832...
61,https://twitter.com/dog_rates/status/880221127...,https://twitter.com/dog_rates/status/880221127...
63,https://twitter.com/dog_rates/status/879862464...,https://twitter.com/dog_rates/status/879862464...
64,NaN,https://twitter.com/dog_rates/status/830583320...
68,https://twitter.com/dog_rates/status/878057613...,https://twitter.com/dog_rates/status/830583320...
...,...,...
1906,https://twitter.com/dog_rates/status/674468880...,https://twitter.com/dog_rates/status/674468880...
1914,NaN,https://twitter.com/dog_rates/status/830583320...
1916,https://vine.co/v/i7nWzrenw5h,https://twitter.com/dog_rates/status/830583320...
1939,https://twitter.com/dog_rates/status/673887867...,https://twitter.com/dog_rates/status/673887867...
1940,NaN,https://twitter.com/dog_rates/status/830583320...
1945,https://twitter.com/dog_rates/status/673707060...,https://twitter.com/dog_rates/status/673707060...
1948,https://twitter.com/dog_rates/status/673697980...,https://twitter.com/dog_rates/status/673697980...
1949,https://twitter.com/dog_rates/status/673689733...,https://twitter.com/dog_rates/status/673689733...
1962,https://twitter.com/dog_rates/status/673355879...,https://twitter.com/dog_rates/status/673355879...
1968,https://twitter.com/dog_rates/status/673320132...,https://twitter.com/dog_rates/status/673320132...
1969,https://twitter.com/dog_rates/status/673317986...,https://twitter.com/dog_rates/status/673317986...
2005,https://twitter.com/dog_rates/status/672272411...,https://twitter.com/dog_rates/status/672272411...
2027,https://twitter.com/dog_rates/status/671874878...,https://twitter.com/dog_rates/status/671874878...
2031,https://twitter.com/dog_rates/status/671768281...,https://twitter.com/dog_rates/status/671768281...
2035,https://twitter.com/dog_rates/status/671735591...,https://twitter.com/dog_rates/status/671735591...
2038,NaN,https://twitter.com/dog_rates/status/830583320...
2039,https://twitter.com/dog_rates/status/671547767...,https://twitter.com/dog_rates/status/671547767...
2049,https://twitter.com/dog_rates/status/671504605...,https://twitter.com/dog_rates/status/671504605...
2056,https://twitter.com/dog_rates/status/671357843...,https://twitter.com/dog_rates/status/671357843...
2058,https://twitter.com/dog_rates/status/671347597...,https://twitter.com/dog_rates/status/671347597...
2073,https://twitter.com/dog_rates/status/670995969...,https://twitter.com/dog_rates/status/670995969...
2084,https://twitter.com/dog_rates/status/670807719...,https://twitter.com/dog_rates/status/670807719...
2149,NaN,https://twitter.com/dog_rates/status/830583320...
2189,NaN,https://twitter.com/dog_rates/status/830583320...
2205,https://twitter.com/dog_rates/status/668633411...,https://twitter.com/dog_rates/status/668633411...
2209,https://twitter.com/dog_rates/status/668623201...,https://twitter.com/dog_rates/status/668623201...
2212,https://vine.co/v/ea0OwvPTx9l,https://twitter.com/dog_rates/status/830583320...
2259,https://twitter.com/dogratingrating/status/667...,https://twitter.com/dogratingrating/status/667...
2260,https://twitter.com/dogratingrating/status/667...,https://twitter.com/dogratingrating/status/667...
2298,NaN,https://twitter.com/dog_rates/status/830583320...

In [24]:
tweet_clean[tweet_clean.expanded_urls != tweet_clean.tweet_web_url].loc[2209,['expanded_urls','tweet_web_url']].values

array(['https://twitter.com/dog_rates/status/668623201287675904/photo/1,https://twitter.com/dog_rates/status/668623201287675904/photo/1,https://twitter.com/dog_rates/status/668623201287675904/photo/1,https://twitter.com/dog_rates/status/668623201287675904/photo/1',
       'https://twitter.com/dog_rates/status/668623201287675904/photo/1'],
      dtype=object)

Ok, seems that `tweet_web_url` is more complete and also devoid of repetitions/multiple entries (unlike `expanded_urls` column); threrefore will drop `expanded_urls` column

In [25]:
tweet_clean.drop(columns=['expanded_urls'], axis=1, inplace=True)

C:\Users\vilij\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [26]:
tweet_clean.head(2)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,rating_numerator,...,name,doggo,floofer,pupper,puppo,dog_picture_url,tweet_web_url,favourite_count,retweet_count,retweet_status_id_api
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,13,...,Phineas,None,None,None,None,http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,https://twitter.com/dog_rates/status/892420643...,37434.0,8138.0,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,13,...,Tilly,None,None,None,None,http://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,https://twitter.com/dog_rates/status/892177421...,32164.0,6029.0,None

#### Now checking for duplications in retweet_id (columns `retweeted_status_id` and  `retween_status_id_api`)

In [27]:
#normalising for NaN and 'None'
tweet_clean.retweet_status_id_api[tweet_clean.retweet_status_id_api == 'None'] = np.nan

C:\Users\vilij\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\vilij\Anaconda3\lib\site-packages\pandas\core\generic.py:8682: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\vilij\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2910: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [28]:
sum(tweet_clean.retweet_status_id_api == 'None')

0

In [29]:
sum(tweet_clean.retweet_status_id_api.isnull())

2170

In [30]:
#Ok, now let's compare the two columns
tweet_clean[tweet_clean.retweeted_status_id != tweet_clean.retweet_status_id_api][['retweeted_status_id','retweet_status_id_api']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2335 entries, 0 to 2355
Data columns (total 2 columns):
retweeted_status_id      165 non-null float64
retweet_status_id_api    165 non-null object
dtypes: float64(1), object(1)
memory usage: 54.7+ KB

In [31]:
#ok, for comparison let's try to use `retweet_status_id_api` values as float (also NaNs are accomodated for that way)
sum(tweet_clean.retweeted_status_id == tweet_clean.retweet_status_id_api.astype(float))

165

In [32]:
temp = tweet_clean.retweet_status_id_api.astype(float)
temp2 = tweet_clean.retweeted_status_id
sum(temp[temp.notnull()] != temp2[temp2.notnull()])

0

#### Ok, so in conclusion, the `retweeted_status_id`  and `retweet_status_id_api` are the same; therefore I will drop the `retweet_status_id_api` column

In [33]:
tweet_clean.drop(columns=['retweet_status_id_api'], axis=1, inplace=True)

C:\Users\vilij\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [34]:
tweet_clean.head(3)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,dog_picture_url,tweet_web_url,favourite_count,retweet_count
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,13,10,Phineas,None,None,None,None,http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,https://twitter.com/dog_rates/status/892420643...,37434.0,8138.0
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,13,10,Tilly,None,None,None,None,http://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,https://twitter.com/dog_rates/status/892177421...,32164.0,6029.0
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,12,10,Archie,None,None,None,None,http://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,https://twitter.com/dog_rates/status/891815181...,24251.0,3991.0

#### For completeness with the `retweeted_status_id` column, will also convert it to integer (np.int64), in line with tweet_id
To deal with NaNs I will first convert all NaNs to 0s, then the column to int64

In [35]:
tweet_clean.retweeted_status_id[tweet_clean.retweeted_status_id.isnull()] = 0
tweet_clean.retweeted_status_id = tweet_clean.retweeted_status_id.astype(np.int64)
#tweet_clean.retweeted_status_id[tweet_clean.retweeted_status_id == 0] = np.nan

C:\Users\vilij\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\vilij\Anaconda3\lib\site-packages\pandas\core\generic.py:8682: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
C:\Users\vilij\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2910: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\vilij\Anaconda3\lib\site-packages\pandas\core\generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [36]:
tweet_clean.retweeted_status_id.dtype

dtype('int64')

#### Checking ratings are correctly imported to ratings columns (from tweet text)

In [37]:
tweet_clean.loc[0].text

"This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU"

In [38]:
test = tweet_clean.text.str.extract(r'(\d{1,4}[\.]?[\d{1,2}]?)([\s]?[/][\s]?)(\d{2,4})',expand = True)
test

       0  1   2
0     13  /  10
1     13  /  10
2     12  /  10
3     13  /  10
4     12  /  10
5     13  /  10
6     13  /  10
7     13  /  10
8     13  /  10
9     14  /  10
10    13  /  10
11    13  /  10
12    13  /  10
13    12  /  10
14    13  /  10
15    13  /  10
16    12  /  10
17    13  /  10
18    13  /  10
20    12  /  10
21    13  /  10
22    14  /  10
23    13  /  10
24    13  /  10
25    12  /  10
26    13  /  10
27    13  /  10
28    13  /  10
29    12  /  10
30    12  /  10
...   .. ..  ..
2326   2  /  10
2327   7  /  10
2328   9  /  10
2329  11  /  10
2330   6  /  10
2331   8  /  10
2332  10  /  10
2333   9  /  10
2334   3  /  10
2335   9  /  10
2336  11  /  10
2337  10  /  10
2338   1  /  10
2339  11  /  10
2340   8  /  10
2341   9  /  10
2342   6  /  10
2343  10  /  10
2344   9  /  10
2345  10  /  10
2346   8  /  10
2347   9  /  10
2348  10  /  10
2349   2  /  10
2350  10  /  10
2351   5  /  10
2352   6  /  10
2353   9  /  10
2354   7  /  10
2355   8  /  10

[2335 rows x 3 columns]

In [39]:
sum(test[0].isnull())

1

In [40]:
#let's check where NaNs are coming from
test = test.join(tweet_clean['text'], how='left')
test.to_csv('test.csv')

In [41]:
tweet_clean.rating_numerator.value_counts()

12      554
11      464
10      459
13      340
9       157
8       102
7        55
14       51
5        37
6        32
3        19
4        17
1         9
2         9
420       2
0         2
15        2
75        2
80        1
20        1
24        1
26        1
44        1
50        1
60        1
165       1
84        1
88        1
144       1
182       1
143       1
666       1
960       1
1776      1
17        1
27        1
45        1
99        1
121       1
204       1
Name: rating_numerator, dtype: int64

In [42]:
test[0].value_counts()

12      554
11      464
10      459
13      340
9       158
8       102
7        54
14       51
5        35
6        32
3        19
4        17
2         9
1         8
75        2
420       2
15        2
0         2
204       1
007       1
960       1
143       1
84        1
27        1
13.5      1
165       1
80        1
99        1
60        1
1776      1
121       1
45        1
9.5       1
666       1
44        1
26        1
182       1
50        1
88        1
20        1
144       1
17        1
Name: 0, dtype: int64

In [43]:
tweet_clean.rating_denominator.value_counts()

10     2313
50        3
80        2
11        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

In [44]:
test[2].value_counts()

10     2314
50        3
80        2
20        2
11        2
16        1
00        1
170       1
120       1
150       1
90        1
15        1
70        1
130       1
40        1
110       1
Name: 2, dtype: int64

#### Overall quality of extratction looks good (check in CSV for exceptions, because it's much easier to see full text there); 
It seems that the really high values in denominator and occosationally numerator eg 1776 or 960 are actually valid ratings, and may be in some cases ratings of multiple of dogs in one picture.  Evcen 0 in denominator is a valid number, which was given twice, what it seems not to dogs but to random picture sent to @dog_rates. One real exception was that code reads 9.75 as 75.
For now, will not delete any extreme values, because they're valid, will deal with these in visuals/analysis as relevant.

#### Therefore will now attach new ratings to `tweet_clean` dataframe, to carry out comparison between existings ratings there and newly extracted ratings, and to drop or keep columns accordingly.

In [45]:
test.columns

Index([0, 1, 2, 'text'], dtype='object')

In [46]:
tweet_clean.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'rating_numerator', 'rating_denominator',
       'name', 'doggo', 'floofer', 'pupper', 'puppo', 'dog_picture_url',
       'tweet_web_url', 'favourite_count', 'retweet_count'],
      dtype='object')

In [47]:
#drop uncenessary columns from test dataframe
test.drop(columns=[1,'text'], axis = 1, inplace=True)

#rename columns
test.rename(columns={0:'rating_numerator_alt',2:'rating_denominator_alt'}, inplace=True)

#join test to tweet_clean
tweet_clean = tweet_clean.join(test, how='left')

In [48]:
tweet_clean.head(2)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,rating_numerator,...,doggo,floofer,pupper,puppo,dog_picture_url,tweet_web_url,favourite_count,retweet_count,rating_numerator_alt,rating_denominator_alt
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,0,NaN,NaN,13,...,None,None,None,None,http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,https://twitter.com/dog_rates/status/892420643...,37434.0,8138.0,13,10
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,0,NaN,NaN,13,...,None,None,None,None,http://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,https://twitter.com/dog_rates/status/892177421...,32164.0,6029.0,13,10

In [49]:
tweet_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2335 entries, 0 to 2355
Data columns (total 22 columns):
tweet_id                      2335 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2335 non-null object
source                        2335 non-null object
text                          2335 non-null object
retweeted_status_id           2335 non-null int64
retweeted_status_user_id      165 non-null float64
retweeted_status_timestamp    165 non-null object
rating_numerator              2335 non-null int64
rating_denominator            2335 non-null int64
name                          2335 non-null object
doggo                         2335 non-null object
floofer                       2335 non-null object
pupper                        2335 non-null object
puppo                         2335 non-null object
dog_picture_url               2335 non-null object
tweet_web_url                 2335 non-null object
favourite_count               2335 non-null float64
retweet_count                 2335 non-null float64
rating_numerator_alt          2334 non-null object
rating_denominator_alt        2334 non-null object
dtypes: float64(5), int64(4), object(13)
memory usage: 499.6+ KB

#### In order to do the comparison between existing ratings numerator and denominator columns (`rating_numerator` and `rating_denominator`) and newly extracted ones, we will need to convert both to float -- there were some ratings (e.g. 13.5/10) that were not intergers, so I decided to follow this rule

In [50]:
sum(tweet_clean.rating_numerator.astype(float) != tweet_clean.rating_numerator_alt.astype(float))

4

In [51]:
print(tweet_clean[tweet_clean.rating_numerator.astype(float) != tweet_clean.rating_numerator_alt.astype(float)]['text'].values)

['This is Bella. She hopes her smile made you smile. If not, she is also offering you her favorite monkey. 13.5/10 https://t.co/qjrljjt948'
 'Meet Sam. She smiles 24/7 &amp; secretly aspires to be a reindeer. \nKeep Sam smiling by clicking and sharing this link:\nhttps://t.co/98tB8y7y7t https://t.co/LouL5vdvxx'
 "I've been told there's a slight possibility he's checking his mirror. We'll bump to 9.5/10. Still a menace"
 'This is an Albanian 3 1/2 legged  Episcopalian. Loves well-polished hardwood flooring. Penis on the collar. 9/10 https://t.co/d9NcXFKwLv']

In [52]:
tweet_clean[tweet_clean.rating_numerator.astype(float) != tweet_clean.rating_numerator_alt.astype(float)][['rating_numerator','rating_numerator_alt']]

      rating_numerator rating_numerator_alt
45                   5                 13.5
516                 24                  NaN
1689                 5                  9.5
2335                 1                    9

#### Conclusion:
Newly extraceted ratings numerators (in column `rating_numerator_alt`) are the accurate ones for these 4 instances of mismatch

In [53]:
sum(tweet_clean.rating_denominator.astype(float) != tweet_clean.rating_denominator_alt.astype(float))

2

In [54]:
print(tweet_clean[tweet_clean.rating_denominator.astype(float) != tweet_clean.rating_denominator_alt.astype(float)]['text'].values)

['Meet Sam. She smiles 24/7 &amp; secretly aspires to be a reindeer. \nKeep Sam smiling by clicking and sharing this link:\nhttps://t.co/98tB8y7y7t https://t.co/LouL5vdvxx'
 'This is an Albanian 3 1/2 legged  Episcopalian. Loves well-polished hardwood flooring. Penis on the collar. 9/10 https://t.co/d9NcXFKwLv']

In [55]:
tweet_clean[tweet_clean.rating_denominator.astype(float) != tweet_clean.rating_denominator_alt.astype(float)][['rating_denominator','rating_denominator_alt']]

      rating_denominator rating_denominator_alt
516                    7                    NaN
2335                   2                     10

#### Conclusion:
Newly extraceted ratings denominators (in column `rating_denominator_alt`) are the accurate ones for these 2 instances of mismatch

#### ACTION:
Drop existing ratings columns and replace them with newly extracted ratings columns.

In [56]:
tweet_clean.drop(columns=['rating_numerator','rating_denominator'], axis=1, inplace=True)
tweet_clean.rename(columns={'rating_numerator_alt':'rating_numerator','rating_denominator_alt':'rating_denominator'}, inplace=True)

In [57]:
tweet_clean.head(2)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,name,doggo,floofer,pupper,puppo,dog_picture_url,tweet_web_url,favourite_count,retweet_count,rating_numerator,rating_denominator
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,0,NaN,NaN,Phineas,None,None,None,None,http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,https://twitter.com/dog_rates/status/892420643...,37434.0,8138.0,13,10
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,0,NaN,NaN,Tilly,None,None,None,None,http://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,https://twitter.com/dog_rates/status/892177421...,32164.0,6029.0,13,10

#### Will also fix the two numerator values that were 75 instead of actual 9.5, and convert all values to Float type, to complete cleaning of this column

In [58]:
print(tweet_clean[tweet_clean.rating_numerator.astype(float) == 75][['text','rating_numerator']].values)

[["RT @dog_rates: This is Logan, the Chow who lived. He solemnly swears he's up to lots of good. H*ckin magical af 9.75/10 https://t.co/yBO5wu…"
  '75']
 ["This is Logan, the Chow who lived. He solemnly swears he's up to lots of good. H*ckin magical af 9.75/10 https://t.co/yBO5wuqaPS"
  '75']]

In [59]:
tweet_clean.loc[tweet_clean.rating_numerator.astype(float) == 75,'rating_numerator'] = 9.75

In [60]:
tweet_clean.loc[tweet_clean.rating_numerator.astype(float) == 75,'rating_numerator']

Series([], Name: rating_numerator, dtype: object)

In [61]:
tweet_clean.rating_numerator = tweet_clean.rating_numerator.astype(float)

In [62]:
tweet_clean.rating_denominator = tweet_clean.rating_denominator.astype(float)

#### Will now proceed to check if 'dog stages' were correctly extracted, steps will include:
* Creating one column for 'dog_stages' (from the four "dummy" columns of `doggo`, `floofer`, `pupper`, `puppo`)
* Extracting 'dog stages' anew
* Comparing to existing 'dog stages'
* Identifying and keeping accurate column, dropping inaccurate column

In [63]:
tweet_clean.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'name', 'doggo', 'floofer', 'pupper',
       'puppo', 'dog_picture_url', 'tweet_web_url', 'favourite_count',
       'retweet_count', 'rating_numerator', 'rating_denominator'],
      dtype='object')

In [64]:
tweet_clean.loc[tweet_clean.puppo == 'None','puppo'] = ''
tweet_clean.loc[tweet_clean.doggo == 'None','doggo'] = ''
tweet_clean.loc[tweet_clean.floofer == 'None','floofer'] = ''
tweet_clean.loc[tweet_clean.pupper == 'None','pupper'] = ''

In [65]:
#checking the possible outcome of concatenation
(tweet_clean.puppo+tweet_clean.doggo+tweet_clean.floofer+tweet_clean.pupper).value_counts()

                1959
pupper           244
doggo             80
puppo             29
doggopupper       12
floofer            9
doggofloofer       1
puppodoggo         1
dtype: int64

Ok, looks like the given extraction was not too accurate, but the concatenation did work, so proceeding..

In [66]:
tweet_clean['dog_stages'] = tweet_clean.puppo+tweet_clean.doggo+tweet_clean.floofer+tweet_clean.pupper

In [67]:
#Quick sample check
tweet_clean.sample().values

array([[667065535570550784, nan, nan, '2015-11-18 19:43:11 +0000',
        '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
        'Here we have a Hufflepuff. Loves vest. Eyes wide af. Flaccid tail. Matches carpet. Always a little blurry. 8/10 https://t.co/7JdgVqDnvR',
        0, nan, nan, 'None', '', '', '', '',
        'http://pbs.twimg.com/media/CUHkkJpXIAA2w3n.jpg',
        'https://twitter.com/dog_rates/status/667065535570550784/photo/1',
        163.0, 46.0, 8.0, 10.0, '']], dtype=object)

In [68]:
#Checking out "floofer" class which is actually not defined, but will include it as separate from 'floof' and see what happens
tweet_clean[tweet_clean.floofer != ''].sample().values

array([[800388270626521089, nan, nan, '2016-11-20 17:20:08 +0000',
        '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
        'This is Doc. He takes time out of every day to worship our plant overlords. 12/10 quite the floofer https://t.co/azMneS6Ly5',
        0, nan, nan, 'Doc', '', 'floofer', '', '',
        'http://pbs.twimg.com/media/CxuM3ofWgAE72kK.jpg',
        'https://twitter.com/dog_rates/status/800388270626521089/photo/1',
        11758.0, 3025.0, 12.0, 10.0, 'floofer']], dtype=object)

In [69]:
#extract anew
test = tweet_clean.text.str.extractall(r'([Pp]uppo|[Dd]oggo|[Pp]upper|[Bb]lep|[Ss]noot|[Ff]loofer|[Ff]loof)').unstack()
test[0][0].value_counts()

pupper     262
doggo       88
puppo       37
floof       20
Floof       10
Doggo        8
Pupper       8
Floofer      5
floofer      3
Blep         2
Puppo        1
blep         1
Name: 0, dtype: int64

In [70]:
test = test[0]

In [71]:
#attach new values, lowercase them
test[0] = test[0].str.lower()
test[1] = test[1].str.lower()
test[2] = test[2].str.lower()
test[3] = test[3].str.lower()
test.sample(5)

match       0    1    2    3
351     doggo  NaN  NaN  NaN
331     doggo  NaN  NaN  NaN
1770   pupper  NaN  NaN  NaN
1814   pupper  NaN  NaN  NaN
1220   pupper  NaN  NaN  NaN

In [72]:
test.rename(columns={0:'dog_stages_alt1', 1:'dog_stages_alt2', 2:'dog_stages_alt3', 3:'dog_stages_alt4'}, inplace=True)
tweet_clean = tweet_clean.join(test, how='left')

In [73]:
#Quick sample check
tweet_clean[(tweet_clean.dog_stages_alt1.notnull())&(tweet_clean.dog_stages_alt2.notnull())]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,name,...,tweet_web_url,favourite_count,retweet_count,rating_numerator,rating_denominator,dog_stages,dog_stages_alt1,dog_stages_alt2,dog_stages_alt3,dog_stages_alt4
29,886366144734445568,NaN,NaN,2017-07-15 23:25:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Roscoe. Another pupper fallen victim t...,0,NaN,NaN,Roscoe,...,https://twitter.com/dog_rates/status/886366144...,20483.0,3071.0,12.0,10.0,pupper,pupper,blep,NaN,NaN
46,883360690899218434,NaN,NaN,2017-07-07 16:22:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Grizzwald. He may be the floofiest floofe...,0,NaN,NaN,Grizzwald,...,https://twitter.com/dog_rates/status/883360690...,21957.0,3561.0,13.0,10.0,floofer,floof,floofer,NaN,NaN
172,858843525470990336,NaN,NaN,2017-05-01 00:40:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I have stumbled puppon a doggo painting party....,0,NaN,NaN,None,...,https://twitter.com/dog_rates/status/858843525...,15453.0,3489.0,13.0,10.0,doggo,puppo,doggo,puppo,NaN
191,855851453814013952,NaN,NaN,2017-04-22 18:31:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo participating in the #ScienceMa...,0,NaN,NaN,None,...,https://twitter.com/dog_rates/status/855851453...,45582.0,17980.0,13.0,10.0,puppodoggo,puppo,doggo,NaN,NaN
200,854010172552949760,NaN,NaN,2017-04-17 16:34:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...","At first I thought this was a shy doggo, but i...",0,NaN,NaN,None,...,https://twitter.com/dog_rates/status/854010172...,16290.0,3204.0,11.0,10.0,doggofloofer,doggo,floofer,NaN,NaN
433,820690176645140481,NaN,NaN,2017-01-15 17:52:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",The floofs have been released I repeat the flo...,0,NaN,NaN,None,...,https://twitter.com/dog_rates/status/820690176...,12766.0,3448.0,84.0,70.0,,floof,floof,NaN,NaN
460,817777686764523521,NaN,NaN,2017-01-07 16:59:28 +0000,"<a href=""http://twitter.com/download/iphone"" r...","This is Dido. She's playing the lead role in ""...",0,NaN,NaN,Dido,...,https://twitter.com/dog_rates/status/817777686...,11233.0,2866.0,13.0,10.0,doggopupper,pupper,doggo,NaN,NaN
531,808106460588765185,NaN,NaN,2016-12-12 00:29:28 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have Burke (pupper) and Dexter (doggo)...,0,NaN,NaN,None,...,https://twitter.com/dog_rates/status/808106460...,9229.0,2368.0,12.0,10.0,doggopupper,pupper,doggo,pupper,doggo
565,802265048156610565,7.331095e+17,4.196984e+09,2016-11-25 21:37:47 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Like doggo, like pupper version 2. Both 11/10 ...",0,NaN,NaN,None,...,https://twitter.com/dog_rates/status/802265048...,6960.0,1468.0,11.0,10.0,doggopupper,doggo,pupper,NaN,NaN
575,801115127852503040,NaN,NaN,2016-11-22 17:28:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bones. He's being haunted by another d...,0,NaN,NaN,Bones,...,https://twitter.com/dog_rates/status/801115127...,8524.0,2255.0,12.0,10.0,doggopupper,doggo,pupper,NaN,NaN
631,794205286408003585,NaN,NaN,2016-11-03 15:51:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Laika. She was a space pupper. The fir...,0,NaN,NaN,Laika,...,https://twitter.com/dog_rates/status/794205286...,9721.0,3565.0,14.0,10.0,pupper,pupper,pupper,NaN,NaN
705,785639753186217984,NaN,NaN,2016-10-11 00:34:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Pinot. He's a sophisticated doggo. You...,0,NaN,NaN,Pinot,...,https://twitter.com/dog_rates/status/785639753...,8220.0,2384.0,10.0,10.0,doggopupper,doggo,pupper,NaN,NaN
733,781308096455073793,NaN,NaN,2016-09-29 01:42:20 +0000,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...","Pupper butt 1, Doggo 0. Both 12/10 https://t.c...",0,NaN,NaN,None,...,https://twitter.com/dog_rates/status/830583320...,7480.0,2726.0,12.0,10.0,doggopupper,pupper,doggo,NaN,NaN
764,777953400541634568,NaN,NaN,2016-09-19 19:31:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: Meet Gerald. He's a fairly exot...,768193404517830656,4.196984e+09,2016-08-23 21:09:14 +0000,Gerald,...,https://twitter.com/dog_rates/status/830583320...,11371.0,3776.0,8.0,10.0,doggo,doggo,floof,NaN,NaN
778,775898661951791106,NaN,NaN,2016-09-14 03:27:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...","RT @dog_rates: Like father (doggo), like son (...",733109485275860992,4.196984e+09,2016-05-19 01:38:16 +0000,None,...,https://twitter.com/dog_rates/status/733109485...,50649.0,17553.0,12.0,10.0,doggopupper,doggo,pupper,NaN,NaN
822,770093767776997377,NaN,NaN,2016-08-29 03:00:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is just downright precious...,741067306818797568,4.196984e+09,2016-06-10 00:39:48 +0000,just,...,https://twitter.com/dog_rates/status/741067306...,9761.0,3238.0,12.0,10.0,doggopupper,pupper,doggo,NaN,NaN
835,768193404517830656,NaN,NaN,2016-08-23 21:09:14 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Gerald. He's a fairly exotic doggo. Floof...,0,NaN,NaN,Gerald,...,https://twitter.com/dog_rates/status/768193404...,11371.0,3776.0,8.0,10.0,doggo,doggo,floof,NaN,NaN
881,760521673607086080,NaN,NaN,2016-08-02 17:04:31 +0000,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...",Doggo want what doggo cannot have. Temptation ...,0,NaN,NaN,None,...,https://twitter.com/dog_rates/status/830583320...,4399.0,1478.0,12.0,10.0,doggo,doggo,doggo,NaN,NaN
889,759793422261743616,NaN,NaN,2016-07-31 16:50:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Meet Maggie &amp; Lila. Maggie is the doggo, L...",0,NaN,NaN,Maggie,...,https://twitter.com/dog_rates/status/759793422...,6202.0,2018.0,12.0,10.0,doggopupper,doggo,pupper,NaN,NaN
956,751583847268179968,NaN,NaN,2016-07-09 01:08:47 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Please stop sending it pictures that don't eve...,0,NaN,NaN,None,...,https://twitter.com/dog_rates/status/751583847...,4560.0,1167.0,5.0,10.0,doggopupper,doggo,pupper,NaN,NaN
1063,741067306818797568,NaN,NaN,2016-06-10 00:39:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is just downright precious af. 12/10 for ...,0,NaN,NaN,just,...,https://twitter.com/dog_rates/status/741067306...,9761.0,3238.0,12.0,10.0,doggopupper,pupper,doggo,NaN,NaN
1113,733109485275860992,NaN,NaN,2016-05-19 01:38:16 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Like father (doggo), like son (pupper). Both 1...",0,NaN,NaN,None,...,https://twitter.com/dog_rates/status/733109485...,50649.0,17553.0,12.0,10.0,doggopupper,doggo,pupper,NaN,NaN
1152,725786712245440512,NaN,NaN,2016-04-28 20:40:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to Lillie. She's a Rutabagan Floofem...,0,NaN,NaN,Lillie,...,https://twitter.com/dog_rates/status/725786712...,4271.0,1419.0,11.0,10.0,pupper,floof,pupper,NaN,NaN
1304,707411934438625280,NaN,NaN,2016-03-09 03:45:22 +0000,"<a href=""http://twitter.com/download/iphone"" r...","""I shall trip the big pupper with leash. Big p...",0,NaN,NaN,None,...,https://twitter.com/dog_rates/status/707411934...,2354.0,616.0,11.0,10.0,pupper,pupper,pupper,NaN,NaN
1340,704859558691414016,NaN,NaN,2016-03-02 02:43:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a heartbreaking scene of an incredible...,0,NaN,NaN,a,...,https://twitter.com/dog_rates/status/704859558...,2322.0,569.0,10.0,10.0,pupper,pupper,pupper,NaN,NaN
1367,702598099714314240,NaN,NaN,2016-02-24 20:56:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Sansa. She's gotten too big for her ch...,0,NaN,NaN,Sansa,...,https://twitter.com/dog_rates/status/702598099...,12544.0,3577.0,11.0,10.0,pupper,pupper,pupper,NaN,NaN
1382,700864154249383937,NaN,NaN,2016-02-20 02:06:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...","""Pupper is a present to world. Here is a bow f...",0,NaN,NaN,a,...,https://twitter.com/dog_rates/status/700864154...,2669.0,640.0,12.0,10.0,pupper,pupper,pupper,NaN,NaN
1653,683462770029932544,NaN,NaN,2016-01-03 01:39:57 +0000,"<a href=""http://twitter.com/download/iphone"" r...","""Hello forest pupper I am house pupper welcome...",0,NaN,NaN,None,...,https://twitter.com/dog_rates/status/683462770...,2507.0,705.0,8.0,10.0,pupper,pupper,pupper,NaN,NaN
1788,677557565589463040,NaN,NaN,2015-12-17 18:34:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Reckless pupper here. Not even looking at road...,0,NaN,NaN,None,...,https://twitter.com/dog_rates/status/677557565...,2490.0,1204.0,10.0,10.0,pupper,pupper,pupper,NaN,NaN
1828,676263575653122048,NaN,NaN,2015-12-14 04:52:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",All this pupper wanted to do was go skiing. No...,0,NaN,NaN,None,...,https://twitter.com/dog_rates/status/676263575...,2108.0,568.0,10.0,10.0,pupper,pupper,pupper,NaN,NaN
1907,674447403907457024,NaN,NaN,2015-12-09 04:36:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This pupper just wants a belly rub. This puppe...,0,NaN,NaN,None,...,https://twitter.com/dog_rates/status/674447403...,1066.0,363.0,10.0,10.0,pupper,pupper,pupper,pupper,NaN

In [74]:
tweet_clean.loc[822].values

array([770093767776997377, nan, nan, '2016-08-29 03:00:36 +0000',
       '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
       'RT @dog_rates: This is just downright precious af. 12/10 for both pupper and doggo https://t.co/o5J479bZUC',
       741067306818797568, 4196983835.0, '2016-06-10 00:39:48 +0000',
       'just', 'doggo', '', 'pupper', '',
       'http://pbs.twimg.com/media/CkjMx99UoAM2B1a.jpg',
       'https://twitter.com/dog_rates/status/741067306818797568/photo/1',
       9761.0, 3238.0, 12.0, 10.0, 'doggopupper', 'pupper', 'doggo', nan,
       nan], dtype=object)

In [75]:
tweet_clean.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'name', 'doggo', 'floofer', 'pupper',
       'puppo', 'dog_picture_url', 'tweet_web_url', 'favourite_count',
       'retweet_count', 'rating_numerator', 'rating_denominator', 'dog_stages',
       'dog_stages_alt1', 'dog_stages_alt2', 'dog_stages_alt3',
       'dog_stages_alt4'],
      dtype='object')

#### Quick examination shows that the new extraction is more complete than existing one (e.g. picks up on floof, blep; even though its not black and white if there is a reference to floof that the dog stage is floof, sometimes the reference is purely to floofy nature of the dog)
#### Each tweet may contain more than one dog and therefore contain doggo and pupper, or one dog within single tweet can have several stages attributed to him (sometimes inadvertently, through an adjactive that contains dog stage indicator);
#### To really tidy it up one should create a separate table, that should contain tweet_id and dog_stage matches;
#### Also, a serious consideration should be given if floofer and floof is indeed one category;
#### But for here, will simply drop all the columns associated with existing classification ( `doggo`, `floofer`, `pupper`, `puppo` and  `dog_stages`) and leave four columns wiht newly extracted categories (that is `dog_stages_alt1`, `dog_stages_alt2`,`dog_stages_alt3`,`dog_stages_alt4`)

In [76]:
tweet_clean.drop(columns=['doggo','floofer','pupper','puppo','dog_stages'], axis=1, inplace=True)

In [77]:
tweet_clean.sample(2)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,name,dog_picture_url,tweet_web_url,favourite_count,retweet_count,rating_numerator,rating_denominator,dog_stages_alt1,dog_stages_alt2,dog_stages_alt3,dog_stages_alt4
58,880935762899988482,NaN,NaN,2017-06-30 23:47:07 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Louis. He's crossing. It's a big deal....,0,NaN,NaN,Louis,http://pbs.twimg.com/media/DDm2Z5aXUAEDS2u.jpg,https://twitter.com/dog_rates/status/880935762...,16498.0,2686.0,13.0,10.0,NaN,NaN,NaN,NaN
718,783466772167098368,NaN,NaN,2016-10-05 00:40:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Finn. He likes eavesdropping from fili...,0,NaN,NaN,Finn,http://pbs.twimg.com/media/Ct9u3ljW8AEnVIm.jpg,https://twitter.com/dog_rates/status/783466772...,8879.0,2408.0,11.0,10.0,NaN,NaN,NaN,NaN

#### timestamp from string to datetime

In [78]:
# To datetime
tweet_clean.timestamp = pd.to_datetime(tweet_clean.timestamp)

In [79]:
tweet_clean.timestamp.dtype

datetime64[ns, UTC]

In [80]:
tweet_clean.sample(2)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,name,dog_picture_url,tweet_web_url,favourite_count,retweet_count,rating_numerator,rating_denominator,dog_stages_alt1,dog_stages_alt2,dog_stages_alt3,dog_stages_alt4
785,775085132600442880,NaN,NaN,2016-09-11 21:34:30+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Tucker. He would like a hug. 13/10 som...,0,NaN,NaN,Tucker,http://pbs.twimg.com/media/CsGnz64WYAEIDHJ.jpg,https://twitter.com/dog_rates/status/775085132...,16281.0,5031.0,13.0,10.0,NaN,NaN,NaN,NaN
35,885518971528720385,NaN,NaN,2017-07-13 15:19:09+00:00,"<a href=""http://twitter.com/download/iphone"" r...",I have a new hero and his name is Howard. 14/1...,0,NaN,NaN,None,None,https://twitter.com/dog_rates/status/830583320...,19777.0,3596.0,14.0,10.0,NaN,NaN,NaN,NaN

#### Identifying and dropping rows that are retweets (explicitly not required to be included in the project)
* any tweets that have retweeted_status_id as non zero value will be retweets, so will select those rows and drop them
* prior will visually cross check with other retweet attributes such as  retweeted_status_user_id, retweeted_status_timestamp
* will also drop the columns that are retweet attributes, as they would in any case be NaNs

In [81]:
tweet_clean[tweet_clean.retweeted_status_id != 0].sample(3)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,name,dog_picture_url,tweet_web_url,favourite_count,retweet_count,rating_numerator,rating_denominator,dog_stages_alt1,dog_stages_alt2,dog_stages_alt3,dog_stages_alt4
285,838916489579200512,NaN,NaN,2017-03-07 00:57:32+00:00,"<a href=""http://twitter.com/download/iphone"" r...",RT @KibaDva: I collected all the good dogs!! 1...,838905980628819968,8.117408e+08,2017-03-07 00:15:46 +0000,None,http://pbs.twimg.com/media/C6RkhU6UYAAMDpb.jpg,https://twitter.com/KibaDva/status/83890598062...,738.0,36.0,15.0,10.0,NaN,NaN,NaN,NaN
343,832040443403784192,NaN,NaN,2017-02-16 01:34:34+00:00,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Klein. These pics were ...,769940425801170944,4.196984e+09,2016-08-28 16:51:16 +0000,Klein,http://pbs.twimg.com/media/Cq9guJ5WgAADfpF.jpg,https://twitter.com/dog_rates/status/769940425...,32790.0,10240.0,12.0,10.0,NaN,NaN,NaN,NaN
767,777641927919427584,NaN,NaN,2016-09-18 22:54:18+00:00,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Arnie. He's a Nova Scot...,750429297815552000,4.196984e+09,2016-07-05 20:41:01 +0000,Arnie,http://pbs.twimg.com/media/CmoPdmHW8AAi8BI.jpg,https://twitter.com/dog_rates/status/750429297...,13651.0,4527.0,12.0,10.0,floof,NaN,NaN,NaN

In [82]:
tweet_clean = tweet_clean[tweet_clean.retweeted_status_id == 0]

In [83]:
tweet_clean[tweet_clean.retweeted_status_id != 0].shape

(0, 20)

In [84]:
tweet_clean.drop(columns=['retweeted_status_id','retweeted_status_user_id','retweeted_status_timestamp'], axis=1, inplace=True)

In [85]:
tweet_clean.sample(3)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,name,dog_picture_url,tweet_web_url,favourite_count,retweet_count,rating_numerator,rating_denominator,dog_stages_alt1,dog_stages_alt2,dog_stages_alt3,dog_stages_alt4
1788,677557565589463040,NaN,NaN,2015-12-17 18:34:46+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Reckless pupper here. Not even looking at road...,None,http://pbs.twimg.com/media/CWcrAVQWEAA6QMp.jpg,https://twitter.com/dog_rates/status/677557565...,2490.0,1204.0,10.0,10.0,pupper,pupper,NaN,NaN
257,843856843873095681,NaN,NaN,2017-03-20 16:08:44+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to Sadie and Daisy. They do all thei...,Sadie,http://pbs.twimg.com/media/C7X7Ui0XgAA3m19.jpg,https://twitter.com/dog_rates/status/843856843...,21985.0,4814.0,12.0,10.0,NaN,NaN,NaN,NaN
2140,670003130994700288,NaN,NaN,2015-11-26 22:16:09+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Raphael. He is a Baskerville Conquista...,Raphael,http://pbs.twimg.com/media/CUxUSuaW4AAdQzv.jpg,https://twitter.com/dog_rates/status/670003130...,333.0,93.0,10.0,10.0,NaN,NaN,NaN,NaN

In [86]:
tweet_clean.shape

(2170, 17)

#### Check if ` dog_picture_url` in df_tweet should be the same as `jpg_url` in df_class; check and drop one
#### Will check, but ultimatelly, since the algorithm for identifying breeds was run on `jpg_url`, this column is the one to keep (unless one had access to the algorithm and could reidentify the breed)

In [87]:
tweet_clean.shape, class_clean.shape

((2170, 17), (2075, 12))

In [88]:
picture_df = pd.merge(tweet_clean, class_clean,
                            on=['tweet_id'], how='left')

In [89]:
picture_df.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'name', 'dog_picture_url', 'tweet_web_url',
       'favourite_count', 'retweet_count', 'rating_numerator',
       'rating_denominator', 'dog_stages_alt1', 'dog_stages_alt2',
       'dog_stages_alt3', 'dog_stages_alt4', 'jpg_url', 'img_num', 'p1',
       'p1_conf', 'p1_dog', 'p2', 'p2_conf', 'p2_dog', 'p3', 'p3_conf',
       'p3_dog'],
      dtype='object')

In [90]:
picture_df.sample().values

array([[722613351520608256, nan, nan,
        Timestamp('2016-04-20 02:30:23+0000', tz='UTC'),
        '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
        "Meet Schnitzel. He's a Tropicana Floofboop. Getting too big for his favorite basket. 12/10 just so damn fluffy https://t.co/qjd0UJKYUY",
        'Schnitzel', 'http://pbs.twimg.com/media/Cgc9AjMVIAERdUA.jpg',
        'https://twitter.com/dog_rates/status/722613351520608256/photo/1',
        5096.0, 1705.0, 12.0, 10.0, 'floof', nan, nan, nan,
        'https://pbs.twimg.com/media/Cgc9AjMVIAERdUA.jpg', 1.0,
        'Labrador_retriever', 0.5309149999999999, True,
        'golden_retriever', 0.28823000000000004, True, 'chow',
        0.044853699999999996, True]], dtype=object)

In [91]:
picture_df.shape

(2170, 28)

In [92]:
picture_df[picture_df.jpg_url.str.strip('https://') != picture_df.dog_picture_url.str.strip('http://')][['jpg_url','dog_picture_url']]

,jpg_url,dog_picture_url
4,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,http://pbs.twimg.com/media/DF6hr6AVYAAZ8G8.jpg
7,https://pbs.twimg.com/media/DFyBahAVwAAhUTd.jpg,http://pbs.twimg.com/media/DFyBag_UQAAhhBC.jpg
18,https://pbs.twimg.com/media/DFTH_O-UQAACu20.jpg,http://pbs.twimg.com/media/DFTH_OiUMAE-k4M.jpg
22,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,http://pbs.twimg.com/media/DFDw2tsUAAEw7XW.jpg
25,https://pbs.twimg.com/media/DE8yicJW0AAAvBJ.jpg,http://pbs.twimg.com/media/DE8yicKXoAAnSF8.jpg
29,NaN,None
33,NaN,None
34,https://pbs.twimg.com/media/DEi_N9qXYAAgEEw.jpg,http://pbs.twimg.com/media/DEi_N9pXsAERvps.jpg
39,NaN,None
44,https://pbs.twimg.com/media/DEF2-_hXoAAs62q.jpg,http://pbs.twimg.com/media/DEF2-_jW0AEAS94.jpg
52,NaN,None
60,https://pbs.twimg.com/media/DDXmPrbWAAEKMvy.jpg,http://pbs.twimg.com/media/DDXmPreXUAA3QGJ.jpg
61,NaN,None
67,https://pbs.twimg.com/media/DDIKMXzW0AEibje.jpg,http://pbs.twimg.com/media/DDIKMXxXcAAbmdp.jpg
68,NaN,None
71,https://pbs.twimg.com/media/DC5YqoQW0AArOLH.jpg,http://pbs.twimg.com/media/DC5YqoPXgAA7Uph.jpg
76,NaN,None
81,NaN,None
82,https://pbs.twimg.com/media/DCSzF3NVoAAPzT4.jpg,http://pbs.twimg.com/media/DCSzF3OUAAAs6lS.jpg
86,https://pbs.twimg.com/media/DCEeLxjXsAAvNSM.jpg,http://pbs.twimg.com/media/DCEeLxmW0AAHXNk.jpg
89,https://pbs.twimg.com/media/DB1m871XUAAw5vZ.jpg,http://pbs.twimg.com/media/DB1m871XkAUbCkY.jpg
90,https://pbs.twimg.com/media/DBzhx0PWAAEhl0E.jpg,http://pbs.twimg.com/media/DBzhx0MXUAI5spb.jpg
95,https://pbs.twimg.com/media/DBkfY58XcAEdzZy.jpg,http://pbs.twimg.com/media/DBkfY59XgAUK52d.jpg
96,https://pbs.twimg.com/media/DBg_HT9WAAEeIMM.jpg,http://pbs.twimg.com/media/DBg_HT8XUAEoyo_.jpg
97,NaN,None
100,NaN,None
101,https://pbs.twimg.com/media/DBUxSSTXsAA-Jn1.jpg,http://pbs.twimg.com/media/DBUxSSHXsAIz4Un.jpg
103,https://pbs.twimg.com/media/DBP1asiUAAEKZI5.jpg,http://pbs.twimg.com/media/DBP1aspVYAA4sPW.jpg
113,https://pbs.twimg.com/media/DAr0tDZXUAEMvdu.jpg,http://pbs.twimg.com/media/DAr0tDZXgAAzJEw.jpg
116,NaN,None
...,...,...
1634,NaN,None
1635,NaN,None
1642,https://pbs.twimg.com/media/CWMyl9EWUAAnZJ0.jpg,http://pbs.twimg.com/media/CWMyl86WEAAL1PW.jpg
1648,https://pbs.twimg.com/media/CWJQ4UmWoAIJ29t.jpg,http://pbs.twimg.com/media/CWJQ4UNWIAAP68a.jpg
1650,NaN,None
1660,NaN,None
1667,https://pbs.twimg.com/media/CWCbd8ZWoAAtqoH.jpg,http://pbs.twimg.com/media/CWCbd8CWwAA6VxC.jpg
1682,https://pbs.twimg.com/media/CV9SrABU4AQI46z.jpg,http://pbs.twimg.com/media/CV9Sq__UsAApxZY.jpg
1683,https://pbs.twimg.com/media/CV9EvZNUwAAgLCK.jpg,http://pbs.twimg.com/media/CV9EvZKUAAA3_X3.jpg
1707,https://pbs.twimg.com/media/CV0_BSuWIAIvE9k.jpg,http://pbs.twimg.com/media/CV0_BQ2W4AAYBzH.jpg
1709,https://pbs.twimg.com/media/CV0zkzEU4AAzLc5.jpg,http://pbs.twimg.com/media/CV0zkzEUwAAMNN4.jpg
1711,NaN,None
1721,NaN,None
1722,https://pbs.twimg.com/media/CVwx3dQXAAA0ksL.jpg,http://pbs.twimg.com/media/CVwx3dNWsAAdo4G.jpg
1730,NaN,None
1732,NaN,None
1755,https://pbs.twimg.com/media/CVoha_IU4AAZ7vi.jpg,http://pbs.twimg.com/media/CVoha_AUYAAoMXI.jpg
1756,NaN,None
1784,https://pbs.twimg.com/media/CVgdFjNWEAAxmbq.jpg,http://pbs.twimg.com/media/CVgdFjOWwAAa1PP.jpg
1785,https://pbs.twimg.com/media/CVgbIobUYAEaeI3.jpg,http://pbs.twimg.com/media/CVgbIoYVEAA9xMv.jpg
1821,https://pbs.twimg.com/media/CVRkLuJWUAAhhYp.jpg,http://pbs.twimg.com/media/CVRkLteWwAEY0JT.jpg
1847,https://pbs.twimg.com/media/CVKZsHtWwAA6gPj.jpg,http://pbs.twimg.com/media/CVKZsHpXAAA05Z5.jpg
1851,https://pbs.twimg.com/media/CVJ79MzW4AEpTom.jpg,http://pbs.twimg.com/media/CVJ79MxWEAEIWVi.jpg
1854,NaN,None
1855,https://pbs.twimg.com/media/CVHRIiqWEAAj98K.jpg,http://pbs.twimg.com/media/CVHRIirWcAAh2Nv.jpg
1965,NaN,None
2005,NaN,None
2025,https://pbs.twimg.com/media/CUdtP1xUYAIeBnE.jpg,http://pbs.twimg.com/media/CUdtP1wUAAAzwKY.jpg
2028,NaN,None
2112,NaN,None

#### Conclusion -- there are too many different pictures used (probably because a tweet contained more than one pic), therefore will keep both ` dog_picture_url` in df_tweet and `jpg_url` in df_class, whereby  ` dog_picture_url` will refer to one of the dog's pictures, and  `jpg_url` will refer to a specific dog picture used in a classification algorithm

#### Rename columns in `class_clean` for easier comrehension

In [93]:
class_clean.columns

Index(['tweet_id', 'jpg_url', 'img_num', 'p1', 'p1_conf', 'p1_dog', 'p2',
       'p2_conf', 'p2_dog', 'p3', 'p3_conf', 'p3_dog'],
      dtype='object')

In [94]:
class_clean.sample().values

array([[750086836815486976,
        'https://pbs.twimg.com/media/Cmf5WLGWYAAcmRw.jpg', 1, 'pug',
        0.9782770000000001, True, 'teddy', 0.00313446, False,
        'Brabancon_griffon', 0.00306149, True]], dtype=object)

In [95]:
# rename jpg_url to better represent its meaning
class_clean.rename(columns={'jpg_url':'dog_picture_used_for_classification',
                            'img_num':'total_image_number',
                            'p1': 'breed_alt1',
                            'p1_conf': 'probability_alt1',
                            'p1_dog': 'classified_as_dog_alt1',
                            'p2':'breed_alt2',
                            'p2_conf':'probability_alt2',
                            'p2_dog':'classified_as_dog_alt2',
                            'p3':'breed_alt3',
                            'p3_conf':'probability_alt3',
                            'p3_dog':'classified_as_dog_alt3',}, inplace=True)

In [96]:
class_clean.columns

Index(['tweet_id', 'dog_picture_used_for_classification', 'total_image_number',
       'breed_alt1', 'probability_alt1', 'classified_as_dog_alt1',
       'breed_alt2', 'probability_alt2', 'classified_as_dog_alt2',
       'breed_alt3', 'probability_alt3', 'classified_as_dog_alt3'],
      dtype='object')

In [97]:
class_clean.breed_alt1.value_counts()

golden_retriever             150
Labrador_retriever           100
Pembroke                      89
Chihuahua                     83
pug                           57
chow                          44
Samoyed                       43
toy_poodle                    39
Pomeranian                    38
malamute                      30
cocker_spaniel                30
French_bulldog                26
miniature_pinscher            23
Chesapeake_Bay_retriever      23
seat_belt                     22
German_shepherd               20
Staffordshire_bullterrier     20
Siberian_husky                20
Cardigan                      19
web_site                      19
beagle                        18
Eskimo_dog                    18
Shetland_sheepdog             18
Maltese_dog                   18
teddy                         18
Shih-Tzu                      17
Lakeland_terrier              17
Rottweiler                    17
kuvasz                        16
Italian_greyhound             16
                            ...
groenendael                    1
cuirass                        1
bannister                      1
ping-pong_ball                 1
peacock                        1
coffee_mug                     1
bald_eagle                     1
shield                         1
skunk                          1
tick                           1
American_black_bear            1
terrapin                       1
mortarboard                    1
carousel                       1
tricycle                       1
bighorn                        1
fire_engine                    1
swab                           1
ice_lolly                      1
alp                            1
maze                           1
beaver                         1
loupe                          1
pillow                         1
sea_urchin                     1
rain_barrel                    1
guenon                         1
harp                           1
robin                          1
minibus                        1
Name: breed_alt1, Length: 378, dtype: int64

In [98]:
class_clean[class_clean.breed_alt1 == 'web_site']

,tweet_id,dog_picture_used_for_classification,total_image_number,breed_alt1,probability_alt1,classified_as_dog_alt1,breed_alt2,probability_alt2,classified_as_dog_alt2,breed_alt3,probability_alt3,classified_as_dog_alt3
94,667550882905632768,https://pbs.twimg.com/media/CUObvUJVEAAnYPF.jpg,1,web_site,0.998258,False,dishwasher,0.000201,False,oscilloscope,0.000142,False
95,667550904950915073,https://pbs.twimg.com/media/CUOb_gUUkAACXdS.jpg,1,web_site,0.999335,False,vizsla,0.000081,True,collie,0.000069,True
130,668291999406125056,https://pbs.twimg.com/media/CUZABzGW4AE5F0k.jpg,1,web_site,0.995535,False,skunk,0.001363,False,badger,0.000686,False
213,670040295598354432,https://pbs.twimg.com/media/CUx2F6lVEAAvFev.jpg,1,web_site,0.901552,False,borzoi,0.026660,True,Chihuahua,0.012438,True
270,670822709593571328,https://pbs.twimg.com/media/CU89schWIAIHQmA.jpg,1,web_site,0.993887,False,Chihuahua,0.001252,True,menu,0.000599,False
715,685547936038666240,https://pbs.twimg.com/media/CYOONfZW8AA7IOA.jpg,1,web_site,0.923987,False,oscilloscope,0.009712,False,hand-held_computer,0.008769,False
960,705786532653883392,https://pbs.twimg.com/media/Cct1G6vVAAI9ZjF.jpg,1,web_site,0.550294,False,Labrador_retriever,0.148496,True,golden_retriever,0.148482,True
1210,742465774154047488,https://pbs.twimg.com/media/Ck3EribXEAAPhZn.jpg,1,web_site,0.997154,False,comic_book,0.000439,False,desktop_computer,0.000268,False
1317,755206590534418437,https://pbs.twimg.com/media/CnsIT0WWcAAul8V.jpg,1,web_site,0.906673,False,printer,0.008600,False,carton,0.004533,False
1443,775729183532220416,https://pbs.twimg.com/media/CsPxk85XEAAeMQj.jpg,1,web_site,0.989407,False,hand-held_computer,0.002139,False,menu,0.002115,False
1447,776088319444877312,https://pbs.twimg.com/media/CsU4NKkW8AUI5eG.jpg,3,web_site,0.999916,False,pug,0.000077,True,menu,0.000002,False
1549,792913359805018113,https://pbs.twimg.com/media/CwD-eCLWIAA6v0B.jpg,4,web_site,0.226716,False,lighter,0.081941,False,switch,0.039009,False
1626,804026241225523202,https://pbs.twimg.com/media/Cyh5mQTW8AQpB6K.jpg,1,web_site,0.492709,False,envelope,0.050566,False,guillotine,0.015297,False
1696,816450570814898180,https://pbs.twimg.com/media/C1SddosXUAQcVR1.jpg,1,web_site,0.352857,False,envelope,0.060107,False,nail,0.031291,False
1844,838916489579200512,https://pbs.twimg.com/media/C6RkiQZUsAAM4R4.jpg,2,web_site,0.993651,False,monitor,0.001406,False,envelope,0.001093,False
1847,839290600511926273,https://pbs.twimg.com/media/C6XBt9XXEAEEW9U.jpg,1,web_site,0.670892,False,monitor,0.101565,False,screen,0.075306,False
1853,840696689258311684,https://pbs.twimg.com/media/C6rBLenU0AAr8MN.jpg,1,web_site,0.841768,False,rule,0.007087,False,envelope,0.006820,False
1900,851464819735769094,https://pbs.twimg.com/media/C9ECujZXsAAPCSM.jpg,2,web_site,0.919649,False,menu,0.026306,False,crossword_puzzle,0.003482,False
2026,882045870035918850,https://pbs.twimg.com/media/DD2oCl2WAAEI_4a.jpg,1,web_site,0.949591,False,dhole,0.017326,False,golden_retriever,0.006941,True

#### Ok, not sure how good is the classification, or maybe could have chosen a different picture for classification, but will not dig much; will just lowercase all breads for clenliness

In [99]:
class_clean.breed_alt1 = class_clean.breed_alt1.str.lower()
class_clean.breed_alt2 = class_clean.breed_alt2.str.lower()
class_clean.breed_alt3 = class_clean.breed_alt3.str.lower()

### Last check and save

In [100]:
tweet_clean.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,name,dog_picture_url,tweet_web_url,favourite_count,retweet_count,rating_numerator,rating_denominator,dog_stages_alt1,dog_stages_alt2,dog_stages_alt3,dog_stages_alt4
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,Phineas,http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,https://twitter.com/dog_rates/status/892420643...,37434.0,8138.0,13.0,10.0,NaN,NaN,NaN,NaN
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,Tilly,http://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,https://twitter.com/dog_rates/status/892177421...,32164.0,6029.0,13.0,10.0,NaN,NaN,NaN,NaN
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,Archie,http://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,https://twitter.com/dog_rates/status/891815181...,24251.0,3991.0,12.0,10.0,NaN,NaN,NaN,NaN
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,Darla,http://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,https://twitter.com/dog_rates/status/891689557...,40731.0,8304.0,13.0,10.0,NaN,NaN,NaN,NaN
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,Franklin,http://pbs.twimg.com/media/DF6hr6AVYAAZ8G8.jpg,https://twitter.com/dog_rates/status/891327558...,38968.0,8992.0,12.0,10.0,NaN,NaN,NaN,NaN

In [101]:
class_clean.head()

,tweet_id,dog_picture_used_for_classification,total_image_number,breed_alt1,probability_alt1,classified_as_dog_alt1,breed_alt2,probability_alt2,classified_as_dog_alt2,breed_alt3,probability_alt3,classified_as_dog_alt3
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,welsh_springer_spaniel,0.465074,True,collie,0.156665,True,shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,german_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,rottweiler,0.243682,True,doberman,0.154629,True

In [102]:
#write to file

tweet_clean.to_csv('twitter_archive_master.csv',index=False)
class_clean.to_csv('twitter_archive_master_class.csv',index=False)