#### Fuel Economy Data
This information is provided by the U.S. Environmental Protection Agency, Office of Mobile Sources, National Vehicle and Fuel Emissions Laboratory.
The analysis uses data from 2008 and 2018.

Link: https://www.fueleconomy.gov/feg/download.shtml

### Data assessment and cleaning

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')  #https://seaborn.pydata.org/tutorial/aesthetics.html

%matplotlib inline

##### Initial analysis of the datasets

In [2]:
df_fuel_08 = pd.read_csv('all_alpha_08.csv')
df_fuel_08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

In [3]:
df_fuel_18 = pd.read_csv('all_alpha_18.csv')
df_fuel_18.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4WH3,small car,3,23,33,27,6,No,330

In [4]:
print(df_fuel_18.columns == df_fuel_08.columns)

[ True  True  True  True  True  True False  True False False False False
  True  True  True False False False]

In [5]:
for col in df_fuel_08.columns:
    if col not in df_fuel_18.columns:
        print( col)

Sales Area
FE Calc Appr
Unadj Cmb MPG

In [6]:
for col in df_fuel_18.columns:
    if col not in df_fuel_08.columns:
        print( col)

Cert Region
Stnd Description
Comb CO2

In [7]:
print('2008 dataset: {}'.format(df_fuel_08.shape))
print('2018 dataset: {}'.format(df_fuel_18.shape))

2008 dataset: (2404, 18)
2018 dataset: (1611, 18)

In [8]:
df_fuel_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
Model                   2404 non-null object
Displ                   2404 non-null float64
Cyl                     2205 non-null object
Trans                   2205 non-null object
Drive                   2311 non-null object
Fuel                    2404 non-null object
Sales Area              2404 non-null object
Stnd                    2404 non-null object
Underhood ID            2404 non-null object
Veh Class               2404 non-null object
Air Pollution Score     2404 non-null object
FE Calc Appr            2205 non-null object
City MPG                2205 non-null object
Hwy MPG                 2205 non-null object
Cmb MPG                 2205 non-null object
Unadj Cmb MPG           2205 non-null float64
Greenhouse Gas Score    2205 non-null object
SmartWay                2404 non-null object
dtypes: float64(2), object(16)
memory usage: 338.1+ KB

In [9]:
#counting rows containing nulls

count=0
for i in range(len(df_fuel_08.index)) :
    if df_fuel_08.iloc[i].isnull().sum() > 0:
        count += 1
count

199

In [10]:
sum(df_fuel_08.duplicated())

25

In [11]:
df_fuel_08.nunique()

Model                   436
Displ                    47
Cyl                       8
Trans                    14
Drive                     2
Fuel                      5
Sales Area                3
Stnd                     12
Underhood ID            343
Veh Class                 9
Air Pollution Score      13
FE Calc Appr              2
City MPG                 39
Hwy MPG                  43
Cmb MPG                  38
Unadj Cmb MPG           721
Greenhouse Gas Score     20
SmartWay                  2
dtype: int64

In [12]:
df_fuel_08.groupby(['Fuel']).count()['Model']

Fuel
CNG               2
Gasoline       2318
diesel           11
ethanol           1
ethanol/gas      72
Name: Model, dtype: int64

In [13]:
df_fuel_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 18 columns):
Model                   1611 non-null object
Displ                   1609 non-null float64
Cyl                     1609 non-null float64
Trans                   1611 non-null object
Drive                   1611 non-null object
Fuel                    1611 non-null object
Cert Region             1611 non-null object
Stnd                    1611 non-null object
Stnd Description        1611 non-null object
Underhood ID            1611 non-null object
Veh Class               1611 non-null object
Air Pollution Score     1611 non-null int64
City MPG                1611 non-null object
Hwy MPG                 1611 non-null object
Cmb MPG                 1611 non-null object
Greenhouse Gas Score    1611 non-null int64
SmartWay                1611 non-null object
Comb CO2                1611 non-null object
dtypes: float64(2), int64(2), object(14)
memory usage: 226.6+ KB

In [14]:
sum(df_fuel_18.duplicated())

0

In [15]:
#counting rows containing nulls

count=0
for i in range(len(df_fuel_18.index)) :
    if df_fuel_18.iloc[i].isnull().sum() > 0:
        count += 1
count

2

In [16]:
df_fuel_18.nunique()

Model                   367
Displ                    36
Cyl                       7
Trans                    26
Drive                     2
Fuel                      5
Cert Region               2
Stnd                     19
Stnd Description         19
Underhood ID            230
Veh Class                 9
Air Pollution Score       6
City MPG                 58
Hwy MPG                  62
Cmb MPG                  57
Greenhouse Gas Score     10
SmartWay                  3
Comb CO2                299
dtype: int64

In [17]:
df_fuel_18.groupby(['Fuel']).count()['Model']

Fuel
Diesel                    38
Electricity                2
Ethanol/Gas               55
Gasoline                1492
Gasoline/Electricity      24
Name: Model, dtype: int64

##### Cleaning dataset

In [18]:
df_fuel_08.drop(columns=['Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG'], inplace=True)
df_fuel_18.drop(columns=['Stnd', 'Underhood ID', 'Stnd Description', 'Comb CO2'], inplace=True)
df_fuel_18.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,small SUV,3,20,28,23,5,No
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,small SUV,3,19,27,22,4,No
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,small SUV,3,19,27,22,4,No
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,small car,3,23,33,27,6,No

In [19]:
df_fuel_08.rename(columns={'Sales Area':'Cert Region'}, inplace=True)

In [20]:
df_fuel_08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no

In [21]:
print(df_fuel_18.columns == df_fuel_08.columns)

[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True]

In [22]:
# replace spaces with underscores and lowercase labels for 2008 dataset
df_fuel_08.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)

df_fuel_08.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [23]:
# replace spaces with underscores and lowercase labels for 2018 dataset
df_fuel_18.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)

df_fuel_18.head(5)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,small SUV,3,20,28,23,5,No
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,small SUV,3,19,27,22,4,No
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,small SUV,3,19,27,22,4,No
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,small car,3,23,33,27,6,No

In [24]:
print(df_fuel_18.columns == df_fuel_08.columns)

[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True]

In [25]:
# save new datasets for next section
df_fuel_08.to_csv('data_08_v1.csv', index=False)
df_fuel_18.to_csv('data_18_v1.csv', index=False)

In [26]:
#select California region only
df_ca_08 = df_fuel_08.query('cert_region == "CA"')
df_ca_18 = df_fuel_18.query('cert_region == "CA"')

In [27]:
# confirm only certification region is California
df_ca_08['cert_region'].unique()

array(['CA'], dtype=object)

In [28]:
# drop region column as only have California in the dataset
df_ca_08.drop(columns=['cert_region'], inplace=True)
df_ca_18.drop(columns=['cert_region'], inplace=True)

C:\Users\vilij\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [29]:
# check
df_ca_08.head(1)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no

In [30]:
# check
df_ca_18.head(1)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,small SUV,3,20,28,23,5,No

In [31]:
df_ca_08.iloc[4].name

7

In [32]:
df_ca_08.index

Int64Index([   0,    2,    4,    6,    7,    8,   14,   15,   18,   19,
            ...
            2383, 2384, 2385, 2386, 2387, 2394, 2396, 2398, 2399, 2400],
           dtype='int64', length=1084)

In [33]:
# drop rows containing nulls
drop = []
for i in range(len(df_ca_08.index)) :
    if df_ca_08.iloc[i].isnull().sum() > 0:
        drop.append(df_ca_08.index[i])
print(drop)

df_ca_08 = df_ca_08.drop(drop)

[393, 396, 453, 454, 459, 460, 465, 466, 471, 472, 538, 539, 542, 543, 628, 733, 734, 738, 739, 740, 743, 744, 745, 753, 754, 770, 771, 774, 775, 779, 781, 784, 785, 787, 791, 795, 796, 797, 820, 868, 869, 870, 876, 877, 878, 879, 880, 881, 886, 887, 888, 891, 892, 898, 899, 959, 960, 962, 1028, 1029, 1030, 1035, 1036, 1037, 1067, 1068, 1073, 1074, 1079, 1080, 1085, 1086, 1463, 1934, 1941]

In [34]:
# drop rows containing nulls
drop = []
for i in range(len(df_ca_18.index)) :
    if df_ca_18.iloc[i].isnull().sum() > 0:
        drop.append(df_ca_18.index[i])
print(drop)

df_ca_18 = df_ca_18.drop(drop)

[997]

In [35]:
# checks if any of columns have null values
df_ca_08.isnull().sum().any()

False

In [36]:
df_ca_18.isnull().sum().any()

False

In [37]:
#check for dublicates
print(sum(df_ca_08.duplicated()))
print(sum(df_ca_18.duplicated()))

23
3

In [38]:
# drop duplicates
df_ca_08.drop_duplicates(inplace=True)
df_ca_18.drop_duplicates(inplace=True)

In [39]:
# save progress
df_ca_08.to_csv('data_08_v2.csv', index=False)
df_ca_18.to_csv('data_18_v2.csv', index=False)

In [40]:
print('2008 dataset: {}'.format(df_ca_08.shape))
print('2018 dataset: {}'.format(df_ca_18.shape))

2008 dataset: (986, 13)
2018 dataset: (794, 13)

In [46]:
# Extract int from strings in the 2008 cyl column
df_ca_08['cyl'] = df_ca_08['cyl'].str.extract('(\d+)').astype(int)

In [50]:
df_ca_08['cyl'].value_counts()

6     409
4     283
8     199
5      48
12     30
10     14
2       2
16      1
Name: cyl, dtype: int64

In [52]:
# convert 2018 cyl column to int
df_ca_18['cyl'] = df_ca_18['cyl'].astype(int)

In [53]:
df_ca_18['cyl'].value_counts()

4     365
6     246
8     153
3      18
12      9
5       2
16      1
Name: cyl, dtype: int64

##### Splitting rows into two, if the vehicle operates in two modes

In [54]:
# example of vehicle (hybrid) operating in two modes
df_ca_08[df_ca_08.air_pollution_score == '6/4']

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1550,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,small car,6/4,13/18,19/25,15/21,7/6,no

In [56]:
#select all hybrids
hb_08 = df_ca_08[df_ca_08['fuel'].str.contains('/')]
hb_08

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1550,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,small car,6/4,13/18,19/25,15/21,7/6,no

In [58]:
hb_18 = df_ca_18[df_ca_18['fuel'].str.contains('/')]
hb_18.head()

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
108,BMW 330e,2.0,4,SemiAuto-8,2WD,Gasoline/Electricity,small car,3,28/66,34/78,30/71,10,Yes
160,BMW 530e,2.0,4,SemiAuto-8,2WD,Gasoline/Electricity,small car,7,27/70,31/75,29/72,10,Elite
162,BMW 530e,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,small car,7,27/66,31/68,28/67,10,Elite
188,BMW 740e,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,large car,3,25/62,29/68,27/64,9,Yes
382,CHEVROLET Impala,3.6,6,SemiAuto-6,2WD,Ethanol/Gas,large car,5,14/18,20/28,16/22,4,No

In [59]:
# create two copies of the 2008 hybrids dataframe
df1 = hb_08.copy()  # data on first fuel type of each hybrid vehicle
df2 = hb_08.copy()  # data on second fuel type of each hybrid vehicle

# Each one should look like this
df1

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1550,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,small car,6/4,13/18,19/25,15/21,7/6,no

In [60]:
# columns to split by "/"
split_columns = ['fuel', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg', 'greenhouse_gas_score']

# apply split function to each column of each dataframe copy
for c in split_columns:
    df1[c] = df1[c].apply(lambda x: x.split("/")[0])
    df2[c] = df2[c].apply(lambda x: x.split("/")[1])

In [61]:
# this dataframe holds info for the FIRST fuel type of the hybrid
# aka the values before the "/"s
df1

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1550,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol,small car,6,13,19,15,7,no

In [62]:
# this dataframe holds info for the SECOND fuel type of the hybrid
# aka the values before the "/"s
df2

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1550,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,gas,small car,4,18,25,21,6,no

In [63]:
# combine dataframes to add to the original dataframe
new_rows = df1.append(df2)

# now we have separate rows for each fuel type of each vehicle
new_rows

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1550,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol,small car,6,13,19,15,7,no
1550,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,gas,small car,4,18,25,21,6,no

In [65]:
# drop the original hybrid rows
df_ca_08.drop(hb_08.index, inplace=True)

# add in our newly separated rows
df_ca_08 = df_ca_08.append(new_rows, ignore_index=True)

In [68]:
# check that all the original hybrid rows with "/"s are gone
df_ca_08[df_ca_08['fuel'].str.contains('/')]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

In [78]:
# create two copies of the 2018 hybrids dataframe
df1 = hb_18.copy()  # data on first fuel type of each hybrid vehicle
df2 = hb_18.copy()  # data on second fuel type of each hybrid vehicle

# Each one should look like this
print(df1.shape)
df1.head(5)

(38, 13)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
108,BMW 330e,2.0,4,SemiAuto-8,2WD,Gasoline/Electricity,small car,3,28/66,34/78,30/71,10,Yes
160,BMW 530e,2.0,4,SemiAuto-8,2WD,Gasoline/Electricity,small car,7,27/70,31/75,29/72,10,Elite
162,BMW 530e,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,small car,7,27/66,31/68,28/67,10,Elite
188,BMW 740e,2.0,4,SemiAuto-8,4WD,Gasoline/Electricity,large car,3,25/62,29/68,27/64,9,Yes
382,CHEVROLET Impala,3.6,6,SemiAuto-6,2WD,Ethanol/Gas,large car,5,14/18,20/28,16/22,4,No

In [79]:
# columns to split by "/"
split_columns = ['fuel', 'city_mpg', 'hwy_mpg', 'cmb_mpg']

# apply split function to each column of each dataframe copy
for c in split_columns:
    df1[c] = df1[c].apply(lambda x: x.split("/")[0])
    df2[c] = df2[c].apply(lambda x: x.split("/")[1])

In [82]:
# this dataframe holds info for the FIRST fuel type of the hybrid
# aka the values before the "/"s
print(df1.shape)
df1.head(3)

(38, 13)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
108,BMW 330e,2.0,4,SemiAuto-8,2WD,Gasoline,small car,3,28,34,30,10,Yes
160,BMW 530e,2.0,4,SemiAuto-8,2WD,Gasoline,small car,7,27,31,29,10,Elite
162,BMW 530e,2.0,4,SemiAuto-8,4WD,Gasoline,small car,7,27,31,28,10,Elite

In [83]:
# this dataframe holds info for the SECOND fuel type of the hybrid
# aka the values before the "/"s
print(df2.shape)
df2.head(3)

(38, 13)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
108,BMW 330e,2.0,4,SemiAuto-8,2WD,Electricity,small car,3,66,78,71,10,Yes
160,BMW 530e,2.0,4,SemiAuto-8,2WD,Electricity,small car,7,70,75,72,10,Elite
162,BMW 530e,2.0,4,SemiAuto-8,4WD,Electricity,small car,7,66,68,67,10,Elite

In [85]:
# combine dataframes to add to the original dataframe
new_rows = df1.append(df2)

# now we have separate rows for each fuel type of each vehicle
new_rows.shape

(76, 13)

In [86]:
# drop the original hybrid rows
df_ca_18.drop(hb_18.index, inplace=True)

# add in our newly separated rows
df_ca_18 = df_ca_18.append(new_rows, ignore_index=True)

In [87]:
# check that all the original hybrid rows with "/"s are gone
df_ca_18[df_ca_18['fuel'].str.contains('/')]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

##### Continue with the rest of cleaning

In [89]:
# convert string to float for 2008 air pollution column
df_ca_08['air_pollution_score'] = df_ca_08['air_pollution_score'].astype(float) 

# convert int to float for 2018 air pollution column
df_ca_18['air_pollution_score'] = df_ca_18['air_pollution_score'].astype(float)

In [90]:
print('2008 dataset: {}'.format(df_ca_08.shape))
print('2018 dataset: {}'.format(df_ca_18.shape))

2008 dataset: (987, 13)
2018 dataset: (832, 13)

In [91]:
# convert mpg columns to floats
mpg_columns = ['city_mpg','hwy_mpg','cmb_mpg']
for c in mpg_columns:
    df_ca_18[c] = df_ca_18[c].astype(float)
    df_ca_08[c] = df_ca_08[c].astype(float)

In [103]:
# convert from float to int
df_ca_08['greenhouse_gas_score'] = df_ca_08['greenhouse_gas_score'].astype(int)

All the dataypes are now fixed! Take one last check to confirm all the changes

In [104]:
df_ca_08.dtypes

model                    object
displ                   float64
cyl                       int32
trans                    object
drive                    object
fuel                     object
veh_class                object
air_pollution_score     float64
city_mpg                float64
hwy_mpg                 float64
cmb_mpg                 float64
greenhouse_gas_score      int32
smartway                 object
dtype: object

In [105]:
df_ca_18.dtypes

model                    object
displ                   float64
cyl                       int32
trans                    object
drive                    object
fuel                     object
veh_class                object
air_pollution_score     float64
city_mpg                float64
hwy_mpg                 float64
cmb_mpg                 float64
greenhouse_gas_score      int64
smartway                 object
dtype: object

In [106]:
df_ca_08.dtypes == df_ca_18.dtypes

model                    True
displ                    True
cyl                      True
trans                    True
drive                    True
fuel                     True
veh_class                True
air_pollution_score      True
city_mpg                 True
hwy_mpg                  True
cmb_mpg                  True
greenhouse_gas_score    False
smartway                 True
dtype: bool

In [107]:
# Save your final CLEAN datasets as new files
df_ca_08.to_csv('clean_08.csv', index=False)
df_ca_18.to_csv('clean_18.csv', index=False)